<section class="my-3 my-md-5">
  <div class="container" id="how_it_works">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font35 font-weight-bold mb-3 mb-md-5">How it works</h2>
      </div>
    </div>
    <div class="how-it-works text-center">
      <div class="how-work-inner-column mb-3 mb-md-0">
        <img src="assets/images/Login.svg" alt="login" class="img-fluid"/>
        <h4 class="font20 font-weight-bold mt-3">Login</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="how-work-inner-column mb-3 mb-md-0 two">
        <img src="assets/images/Discover.svg" alt="Discover" class="img-fluid"/>
        <h4 class="font20 font-weight-bold mt-3">Discover</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="how-work-inner-column mb-3 mb-md-0 three">
        <img src="assets/images/Test.svg" alt="Test" class="img-fluid"/>
        <h4 class="font20 font-weight-bold mt-3">Test</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="how-work-inner-column mb-3 mb-md-0">
        <img src="assets/images/Subscribe.svg" alt="Subscribe" class="img-fluid"/>
        <h4 class="font20 font-weight-bold mt-3">Subscribe</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>
</section>
