<section class="my-3 my-md-5">
  <div class="container" id="how_it_works">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font35 font-weight-bold mb-3 mb-md-5">How it works</h2>
      </div>
    </div>
    <div class="how-it-works text-center">
      <div class="how-work-inner-column mb-3 mb-md-0 p-2">
        <app-landing-login-svg></app-landing-login-svg>
        <h4 class="font20 font-weight-bold mt-3">Login</h4>
        <p>
          <a (click)="login()" class="text-primary" href="javascript:void(0)">Register</a> or
          <a (click)="login()" class="text-primary" href="javascript:void(0)">login</a>
          to gain access to private webhooks and the ability to subscribe and view traffic..</p>
      </div>
      <div class="how-work-inner-column mb-3 mb-md-0 p-2 two">
        <app-landing-discover-svg></app-landing-discover-svg>
        <h4 class="font20 font-weight-bold mt-3">Discover</h4>
        <p>Search and browse the <!--suppress HtmlUnknownTarget -->
          <a href="/webhooks" class="text-primary">Webhooks gallery</a> to find all the different webhooks we have to offer and the data models behind them.</p>
      </div>
      <div class="how-work-inner-column mb-3 mb-md-0 three">
        <app-landing-test-svg></app-landing-test-svg>
        <h4 class="font20 font-weight-bold mt-3">Test</h4>
        <p>Set up your own callback URL and test it by sending a sample request to it from the webhooks test page.</p>
      </div>
      <div class="how-work-inner-column mb-3 mb-md-0">
        <app-landing-subscribe-svg></app-landing-subscribe-svg>
        <h4 class="font20 font-weight-bold mt-3">Subscribe</h4>
        <p>Once your ready, setup your subscription, validate it and then activate it. You will now recieve real time events as they happen!</p>
      </div>
    </div>
  </div>
</section>
