.searchbox-icon {
    color: #0A1E42;
    position:relative;
    z-index:2;
}
.search__input{
    display:none;
    border: 1px solid #F4F5F7;
    border-radius: 4px;
    height: 32px;
    font-size: 14px;
    position: relative;
    right: -40px;
}
.search__input.active {
    display: block;
}
::placeholder {
    color: #b5b5b594 !important;
    font-size: 14px;
}
.searchbox-icon-hide {
    z-index: -1;
}
@media (max-width:767px){
    .search__input {
        width: 100%;
        position: absolute;
        left: 0;
        top: 60px;
        background-color: #fff;
        box-shadow: 2px 2px 7px #00000019 !important;
        z-index: 1;
        height: 40px;
    }
}