            <table class="table header-pill mt-4">
                <thead>
                  <tr>
                    <th scope="col">Header</th>
                    <th scope="col">Value</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Authorization</td>
                        <td><input type="text" name="" value="" class="form-control form-custom-control"
                            placeholder="Value 1" /></td>
                        <td>Authentication information provided in this header</td>
                    </tr>
                    <tr>
                        <td>Header 2</td>
                        <td><input type="text" name="" value="" class="form-control form-custom-control"
                            placeholder="Value 1" /></td>
                        <td>Authentication information provided in this header</td>
                    </tr>
                    <tr>
                        <td>Header 3</td>
                        <td><input type="text" name="" value="" class="form-control form-custom-control"
                            placeholder="Value 1" /></td>
                        <td>Authentication information provided in this header</td>
                    </tr>
                    <tr>
                        <td>Header 4</td>
                        <td><input type="text" name="" value="" class="form-control form-custom-control"
                            placeholder="Value 1" /></td>
                        <td>Authentication information provided in this header</td>
                    </tr>
                    <tr>
                        <td>Header 5</td>
                        <td><input type="text" name="" value="" class="form-control form-custom-control"
                            placeholder="Value 1" /></td>
                        <td>Authentication information provided in this header</td>
                    </tr>
                </tbody>
              </table>

