.table{
    border: 1px solid #E1E1E1;
    color: var(--primary-text-color);
}
.table th{
    border:0px;
    border-color: #E1E1E1;
    font-size: 14px;
}
.table td{
    border-bottom: 0px;
    border-color: #E1E1E1;
    vertical-align: middle !important;
    font-size: 12px;
}
