            <table class="table header-pill mt-4">
                <thead>
                  <tr>
                    <th scope="col">Header</th>
                    <th scope="col">Value</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of webhook.headers">
                        <td>{{item.name}}</td>
                        <td>
                          <input
                            type="text"
                            name=""
                            value="{{value(item)}}"
                            class="form-control form-custom-control"
                            placeholder="{{placeHolder(item)}}"
                          />
                        </td>
                        <td>{{item.description}}</td>
                    </tr>
                </tbody>
              </table>

