            <table class="table header-pill mt-4">
                <thead>
                  <tr>
                    <th scope="col">Header</th>
                    <th scope="col">Value</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let name of webhook.headers.keys">
                        <td>{{name}}</td>
                        <td>
                          <input
                            type="text"
                            name=""
                            value="{{value(name)}}"
                            class="form-control form-custom-control"
                            placeholder="{{placeHolder(name)}}"
                          />
                        </td>
                        <td>{{webhook.headers.description(name)}}</td>
                    </tr>
                </tbody>
              </table>

