.wrapper {
  display: flex;
}

.left {
  flex: 0 0 30%;
}

.right {
  flex: 1;
}

a,
a:visited,
a:hover {
  color: #263238;
  text-decoration: underline;
  font-size: medium;
  cursor: pointer;
}

a:hover {
  color: #125699;
}
