.navbar-brand {
  width: 15rem;
  color: var(--primary-color);
  font-weight: 800;
  font-size: 14px;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .navbar-brand {
    width: auto;
  }
}
