<div class="subscribe-call-back">
    <fieldset class="p-3 mt-3 mr-lg-3">
        <h4 class="font16">Add a callback URL</h4>
        <p class="font12">Please select or create an application to add your callback URL.</p>
      <form>
        <label class="font14 font-weight-400">Select your callback URL</label>
        <div class="form-row">
          <div class="form-group col-md-6">
            <select class="custom-select">
              <option selected>Select your callback URL</option>
              <option>Get</option>
            </select>
          </div>
        </div>
      </form>
    </fieldset>
  </div>