.light-mode {
  background-color: #ffffff;
  padding: 20px;
}

.light-mode .custom-control-label::before {
  top: 0.1rem !important;
  background-color: #C6C6C6;
  border: 0;
}

.light-mode pre {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 1.9;
  white-space: pre-wrap;
}

.light-mode.dark-mode-active {
  background-color: #2D2D2D !important;
  color: #FFFFFF;
}

.light-mode.dark-mode-active pre {
  color: #fff;
}

.mode-switcher {
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

.custom-switch .custom-control-label::after {
  top: 3px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

