<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <caption>List of subscriptions</caption>
    <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Application</th>
      <th scope="col">Webhook</th>
      <th scope="col">Callback URL</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tr *ngFor="let subscription of subscriptions$() | async">
      <td>{{subscription.application.entity}}</td>
      <td>{{subscription.application.name}}</td>
      <td>{{subscription.topic}}</td>
      <td>{{subscription.callback.url}}</td>
      <td>{{subscription.statusUpdate.status}}</td>
    </tr>
  </table>
</div>
