<div class="row">
    <div class="col-md-6">
        <a href="javascript:void(0)" class="btn btn-default border text-primary" (click)="modalService.open(template1)">Write a review</a>
    </div>
    <div class="col-md-6 d-flex justify-content-md-end">
        <div class="dropdown">
            <button type="button" class="dropdown-toggle btn btn btn-xs btn-bordered" data-toggle="dropdown">3 stars and
                more</button>
            <div class="dropdown-menu">
                <ul class="nav-vertical nav-small rating">
                    <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-star-fill checked"></i> 5
                            stars</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-star-fill checked"></i> 4 stars
                            and more</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-star-fill checked"></i> 3 stars
                            and more</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-star-fill checked"></i> 2 stars
                            and more</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown ml-2">
            <button type="button" class="dropdown-toggle btn btn btn-xs btn-bordered" data-toggle="dropdown">Recent
                reviews</button>
            <div class="dropdown-menu">
                <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Recent reviews</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Lorem lipsum</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 my-4">
        <span class="font-weight-600">50 reviews</span>
    </div>
    <div class="col-md-12">
        <div class="media mb-4">
            <div class="media-left mr-3">
                <span class="media-img-circle"><img src="assets/images/pexels-photo-1080213@2x.png" alt="review"
                        class="img-fluid" /></span>
            </div>
            <div class="media-body">
                <ul class="nav reviews-list">
                    <li>Eduard Franz</li>
                    <li>Reviewed on March 29, 2021</li>
                </ul>
                <div class="my-1">
                    <span class="font-weight-bold font12">Freezes the entire webpage for 10 seconds</span>
                    <div class="rating small ml-2">
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star checked"></i>
                        <i class="bi bi-star checked"></i>
                    </div>
                </div>
                <p class="font12">It was great but now it seems to be lagging. Freezes the entire webpage for 10
                    seconds. Tried disabling and reenabling it but still the same issue.</p>
                <ul class="nav reviews-reply-delete">
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="media mb-4">
            <div class="media-left mr-3">
                <span class="media-img-circle"><img src="assets/images/pexels-photo-2379004@2x.png" alt="review"
                        class="img-fluid" /></span>
            </div>
            <div class="media-body">
                <ul class="nav reviews-list">
                    <li>Tony M.</li>
                    <li>Reviewed on March 29, 2021</li>
                </ul>
                <div class="my-1">
                    <span class="font-weight-bold font12">Still the best</span>
                    <div class="rating small ml-2">
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                    </div>
                </div>
                <p class="font12">Thank you for your endless support.</p>
                <ul class="nav reviews-reply-delete">
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
                <form method="" action="" class="mt-3">
                    <textarea name="" rows="5" placeholder="Write your reply"
                        class="form-control form-custom-control font12"></textarea>
                    <div class="text-right mt-2">
                        <button type="button" class="btn btn-default border text-primary">Cancel</button>
                        <button type="button" class="btn btn-primary ml-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="media mb-4">
            <div class="media-left mr-3">
                <span class="media-img-circle"><img src="assets/images/pexels-photo-1300402@2x.png" alt="review"
                        class="img-fluid" /></span>
            </div>
            <div class="media-body">
                <ul class="nav reviews-list">
                    <li>Tom Marshall</li>
                    <li>Reviewed on March 29, 2021</li>
                </ul>
                <div class="my-1">
                    <span class="font-weight-bold font12">Thank you</span>
                    <div class="rating small ml-2">
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                    </div>
                </div>
                <p class="font12">Amazing; helps me a lot and a lot of other valuable info</p>
                <ul class="nav reviews-reply-delete">
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
                <div class="comments mt-3">
                    <div class="media">
                        <div class="media-left mr-3">
                            <span class="media-img-circle"><img src="assets/images/Group-7909.svg" alt="review"
                                    class="img-fluid" /></span>
                        </div>
                        <div class="media-body">
                            <ul class="nav reviews-list">
                                <li class="text-primary">Hookie Solutions AB.</li>
                                <li>March 29, 2021</li>
                            </ul>
                            <div class="font12 my-1">Thank you so much Tom!</div>
                            <ul class="nav reviews-reply-delete">
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media mb-4">
            <div class="media-left mr-3">
                <span class="media-img-circle"><img src="assets/images/pexels-photo-1080213@2x.png" alt="review"
                        class="img-fluid" /></span>
            </div>
            <div class="media-body">
                <ul class="nav reviews-list">
                    <li>Eduard Franz</li>
                    <li>Reviewed on March 29, 2021</li>
                </ul>
                <div class="my-1">
                    <span class="font-weight-bold font12">Freezes the entire webpage for 10 seconds</span>
                    <div class="rating small ml-2">
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star checked"></i>
                        <i class="bi bi-star checked"></i>
                    </div>
                </div>
                <p class="font12">It was great but now it seems to be lagging. Freezes the entire webpage for 10
                    seconds. Tried disabling and reenabling it but still the same issue.</p>
                <ul class="nav reviews-reply-delete">
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="media mb-4">
            <div class="media-left mr-3">
                <span class="media-img-circle"><img src="assets/images/pexels-photo-2379004@2x.png" alt="review"
                        class="img-fluid" /></span>
            </div>
            <div class="media-body">
                <ul class="nav reviews-list">
                    <li>Tony M.</li>
                    <li>Reviewed on March 29, 2021</li>
                </ul>
                <div class="my-1">
                    <span class="font-weight-bold font12">Still the best</span>
                    <div class="rating small ml-2">
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                        <i class="bi bi-star-fill checked"></i>
                    </div>
                </div>
                <p class="font12">Thank you for your endless support.</p>
                <ul class="nav reviews-reply-delete">
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="modalSave">
    <div class="modal-dialog modal-dialog-centered"> -->
    <div class="modalSave">
        <ng-template #template1>
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <h5 class="modal-title font16 font-weight-bold" id="exampleModalLongTitle">Rate webhook</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="rating">
                                <i class="bi bi-star-fill checked"></i>
                                <i class="bi bi-star-fill checked"></i>
                                <i class="bi bi-star-fill checked"></i>
                                <i class="bi bi-star-fill checked"></i>
                                <i class="bi bi-star checked"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="support-name">Headline</label>
                            <input type="text" class="form-control form-custom-control" id="support-name" aria-describedby="emailHelp"
                                placeholder="What’s most important to know?">
                        </div>
                        <div class="form-group">
                            <label for="support-message">Review</label>
                            <textarea class="form-control form-custom-control" id="support-message" rows="5" placeholder="Write a review"></textarea>
                        </div>
                        <div class="modal-footer p-0 border-0">
                            <button type="button" class="btn btn-default border text-primary" (click)="hide()" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" (click)="hide()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
    <!-- </div>
</div> -->
