.media-img-circle{
    width:34px;
    height:34px;
    border-radius:50%;
    overflow:hidden;
    display:inline-block;
}
.media-img-circle img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.reviews-list li{
    margin-right:1.5rem;
    color:#0A1E42;
    font-size:12px;
}
.reviews-reply-delete li:last-child a{
    border:0;
}
.reviews-reply-delete li:first-child a{
    padding-left:0;
}
.reviews-reply-delete li a{
    display: inline-block;
    padding: 0 0.5rem;
    border-right: 1px solid #041C39;
    font-size: 12px;
    font-weight: 600;
    color: #1A73E8;
}
.comments{
    background-color:#F4F5F7;
    padding:1rem;
}
