<div class="call-back-url border-top">
  <fieldset class="p-3 mt-3 mr-lg-3">
    <form>
      <h4 class="font14 font-weight-400">Callback URL</h4>
      <div class="form-row">
        <!-- <div class="form-group col-md-2">
          <select class="custom-select text-uppercase test-select">
            <option selected>Post</option>
            <option>Get</option>
          </select>
        </div> -->
        <div class="form-group col-md-2">
          <div class="dropdown text-uppercase">
            <button class="btn btn-warning dropdown-toggle text-left font12 font-weight-400 text-uppercase w-100 d-flex justify-content-between align-items-center"
                    data-toggle="dropdown"
                    type="button">
              Post
            </button>
            <div class="dropdown-menu font12 font-weight-400">
              <a (click)="setMethod(method)" *ngFor="let method of methods " class="dropdown-item">{{method}}</a>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <input [(ngModel)]="url" class="form-control" id="url"
                 name="url" placeholder="https://yourserver/application/endpoint" type="text">
        </div>
      </div>
      <h4 class="font14 font-weight-400">Security</h4>
      <div *ngFor="let s of securityArr" class="custom-control custom-radio custom-control-inline security-label">
        <input (change)="security=s" [checked]="security==s" [disabled]="s=='API key'" class="custom-control-input" id="{{s}}"
               name="security" type="radio">
        <label class="custom-control-label font12 pt-1" for="{{s}}">{{s}}</label>
      </div>
      <div *ngIf="security=='HMAC Signature'" class="callback-test-key mt-3">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label class="font14 font-weight-400 mb-1" for="keyId">Key ID</label>
            <input [(ngModel)]="keyId" class="form-control" id="keyId" name="keyId" placeholder="Key ID example"
                   type="text">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label class="font14 font-weight-400 mb-1" for="secret">Secret API Key</label>
            <input [(ngModel)]="secret" class="form-control" id="secret" name="secret"
                   placeholder="Secret API Key example" type="text">
          </div>
        </div>
      </div>
    </form>
  </fieldset>
</div>
