<div id="sidebar-wrapper">
  <div class="col-12">
    <app-title-toggle></app-title-toggle>
    <app-sidebar-search [searchSubject$]="service.searchSubject$"></app-sidebar-search>
    <a *ngIf="hasProviderRole"
      href="#"
      routerLink="/webhooks/create-webhook"
      class="btn btn-primary-outline spacing w-100">
      <i class="bi bi-plus"></i> Create new group
    </a>
    <!-- <a class="sidebar-nav-before-active" routerLink="webhook">Welcome</a> -->
  </div>
  <app-sidebar-list></app-sidebar-list>
</div>
