.user-rating ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 9px;
}

.user-rating ul li {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.user-rating i {
  font-size: 12px;
}

.user-rating .checked {
  color: var(--primary-color);
}

.user-rating a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 12px;
}

.user-rating .border-left {
  border-left: 1px solid #041C39 !important;
}
