.light-mode {
  background-color: #F4F5F7;
  padding: 20px;
  height: 1024px;
}

.light-mode .custom-control-label::before {
  top: 0.04rem !important;
  background-color: #C6C6C6;
  border: 0;
}

.light-mode .custom-switch .custom-control-label::after {
  top: 3px !important;
  background-color: #fff;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1A73E8;
}

.light-mode.dark-mode-active {
  background-color: #2D2D2D !important;
  color: #FFFFFF;
}

.light-mode pre {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 1.9;
  white-space: pre-wrap;
}

.light-mode.dark-mode-active pre {
  color: #fff;
}

.mode-switcher {
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

@media (max-width: 767px) {
  .light-mode pre {
    font-size: 13px;
    line-height: 1.6;
  }
}
