<div class="whitelabel_outer_wrapper">
    <div class="whitelabel_section">
        <div class="row">
            <div class="col-md-12">
                <h4 class="font20 font-weight-bold mb-4">Whitelabel</h4>
            </div>
        </div>
        <div class="mockup_area">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
                    <a class="navbar-brand logo">
                        <img src="assets/images/logo-placeholder.svg" alt="logo placeholder" class="img-fluid"/>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link"><div class="place place-long"></div></a>
                        <a class="nav-item nav-link"><div class="place place-long"></div></a>
                        <a class="nav-item nav-link"><div class="place place-long"></div></a>
                      </div>
                    </div>
                    <div class="right_buttons">
                        <div class="place place-small mr-2"></div>
                        <div class="btn btn-small btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>
                  </nav>
                  <div class="banner _container my-3">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-6"><div class="place place-small w-100"></div></div>
                            </div>
                            <div class="row lh-normal mt-3">
                                <div class="col-11"><div class="place place-small w-100"></div></div>
                                <div class="col-10"><div class="place place-small w-100"></div></div>
                                <div class="col-9"><div class="place place-small w-100"></div></div>
                                <div class="col-5"><div class="place place-small w-100"></div></div>
                            </div>
                            <div class="btn btn-small btn-primary mt-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/images/main-image-placeholder.svg" alt="main image" class="img-fluid w-100"/>
                        </div>
                    </div>
                  </div>
            </header>
            <section class="carousel_wrapper py-4">
                <div class="_container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row lh-normal">
                                <div class="col-7"><div class="place place-long w-100 white"></div></div>
                                <div class="col-12"><div class="place place-small w-100 white"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="bg-white p-3">
                                <div class="row lh-normal">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12"><div class="place place-long w-100"></div></div>
                                            <div class="col-5"><div class="place place-long w-100"></div></div>
                                            <div class="col-6"><div class="place place-long w-100"></div></div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right"><div class="btn btn-xs btn-small btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                                    <div class="col-10 mt-3"><div class="place place-long w-100"></div></div>
                                    <div class="col-8"><div class="place place-long w-100"></div></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><div class="place place-long w-100"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-white p-3">
                                <div class="row lh-normal">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12"><div class="place place-long w-100"></div></div>
                                            <div class="col-5"><div class="place place-long w-100"></div></div>
                                            <div class="col-6"><div class="place place-long w-100"></div></div>
                                        </div>
                                    </div>
                                    <div class="col-10 mt-3"><div class="place place-long w-100"></div></div>
                                    <div class="col-8"><div class="place place-long w-100"></div></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><div class="place place-long w-100"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-white p-3">
                                <div class="row lh-normal">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12"><div class="place place-long w-100"></div></div>
                                            <div class="col-5"><div class="place place-long w-100"></div></div>
                                            <div class="col-6"><div class="place place-long w-100"></div></div>
                                        </div>
                                    </div>
                                    <div class="col-10 mt-3"><div class="place place-long w-100"></div></div>
                                    <div class="col-8"><div class="place place-long w-100"></div></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><div class="place place-long w-100"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="my-4">
                <div class="_container">
                    <div class="row">
                        <div class="col-3"><div class="place place-long w-100"></div></div>
                    </div>
                    <div class="how-it-works text-center mt-4">
                        <div class="how-work-inner-column mb-3 mb-md-0">
                            <img src="assets/images/Login.svg" alt="login" class="img-fluid"/>
                            <div class="row justify-content-center lh-normal">
                                <div class="col-6 mt-3 mb-2"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                            </div>
                        </div>
                        <div class="how-work-inner-column mb-3 mb-md-0 two">
                            <img src="assets/images/Discover.svg" alt="Discover" class="img-fluid"/>
                            <div class="row justify-content-center lh-normal">
                                <div class="col-6 mt-3 mb-2"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                            </div>
                        </div>
                        <div class="how-work-inner-column mb-3 mb-md-0 three">
                            <img src="assets/images/Test.svg" alt="Test" class="img-fluid"/>
                            <div class="row justify-content-center lh-normal">
                                <div class="col-6 mt-3 mb-2"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                            </div>
                        </div>
                        <div class="how-work-inner-column mb-3 mb-md-0">
                            <img src="assets/images/Subscribe.svg" alt="Subscribe" class="img-fluid"/>
                            <div class="row justify-content-center lh-normal">
                                <div class="col-6 mt-3 mb-2"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                                <div class="col-12"><div class="place place-long w-100"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="background pt-5 why-webhook">
                <div class="_container">
                    <div class="row">
                        <div class="col-4"><div class="place place-long w-100"></div></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="media mb-3 mb-md-5">
                                <div class="media-left mr-3"><img src="assets/images/Group-7789.svg"></div>
                                <div class="media-body">
                                    <div class="row lh-normal">
                                        <div class="col-10"><div class="place place-long w-100"></div></div>
                                        <div class="col-12"><div class="place place-long w-100"></div></div>
                                        <div class="col-8"><div class="place place-long w-100"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media mb-3 mb-md-5">
                                <div class="media-left mr-3"><img src="assets/images/Group-7796.svg"></div>
                                <div class="media-body">
                                    <div class="row lh-normal">
                                        <div class="col-10"><div class="place place-long w-100"></div></div>
                                        <div class="col-12"><div class="place place-long w-100"></div></div>
                                        <div class="col-8"><div class="place place-long w-100"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media mb-3 mb-md-5">
                                <div class="media-left mr-3"><img src="assets/images/Integration-made-easy.svg"></div>
                                <div class="media-body">
                                    <div class="row lh-normal">
                                        <div class="col-10"><div class="place place-long w-100"></div></div>
                                        <div class="col-12"><div class="place place-long w-100"></div></div>
                                        <div class="col-8"><div class="place place-long w-100"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media mb-3 mb-md-5">
                                <div class="media-left mr-3"><img src="assets/images/Group-7778.svg"></div>
                                <div class="media-body">
                                    <div class="row lh-normal">
                                        <div class="col-10"><div class="place place-long w-100"></div></div>
                                        <div class="col-12"><div class="place place-long w-100"></div></div>
                                        <div class="col-8"><div class="place place-long w-100"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media mb-3 mb-md-5">
                                <div class="media-left mr-3"><img src="assets/images/Group-7797.svg"></div>
                                <div class="media-body">
                                    <div class="row lh-normal">
                                        <div class="col-10"><div class="place place-long w-100"></div></div>
                                        <div class="col-12"><div class="place place-long w-100"></div></div>
                                        <div class="col-8"><div class="place place-long w-100"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media mb-3 mb-md-5 ">
                                <div class="media-left mr-3"><img src="assets/images/Group-7838.svg"></div>
                                <div class="media-body">
                                    <div class="row lh-normal">
                                        <div class="col-10"><div class="place place-long w-100"></div></div>
                                        <div class="col-12"><div class="place place-long w-100"></div></div>
                                        <div class="col-8"><div class="place place-long w-100"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="whitelabel_edit_wrapper">
        <form>
            <div class="form-group">
                <label class="font-weight-bold">Primary color</label>
                <input type="text" name="" value="" class="form-control form-custom-control" placeholder="Change color"/>
            </div>
            <div class="form-group">
                <label class="font-weight-bold d-block">Images</label>
                <label>Add logo</label>
                <input type="file" id="add_logo" class="d-none"/>
                <label class="add_image py-2" for="add_logo"><img src="assets/images/add_a_photo_black_24dp.svg" alt="" class="img-fluid"/></label>
            </div>
            <div class="form-group">
                <label>Add main image</label>
                <input type="file" id="add_main_image" class="d-none"/>
                <label class="add_image py-5" for="add_main_image"><img src="assets/images/add_a_photo_black_24dp.svg" alt="" class="img-fluid"/></label>
            </div>
            <div class="form-group text-right">
                <button type="button" class="btn btn-default border text-primary">Reset</button>
                <button type="submit" class="btn btn-primary ml-2">Apply</button>
            </div>
        </form>
    </div>
</div>