<div class="head-order-title d-flex d-md-inline-block">
    <a class="menu-toggle-mobile responsive-close d-inline-block d-md-none mr-2" href="javascript:void(0)" id=""
        *ngIf="title()=='Webhooks'">
        <i class="fas fa-grip-lines text-primary"></i></a>
    <h2 class="d-flex align-items-center font-weight-bold font20">        
        {{variable?.selectedWebhook.title}}
        <span class=" ml-2 badge badge-primary font-weight-400" *ngIf="variable.selectedWebhook.isNew==1">
            New
        </span>
        <span class=" ml-2 badge badge-warning font-weight-400" *ngIf="variable.selectedWebhook.isPublished==0">
            Unpublished
        </span>
    </h2>
</div>