<div class="subscribe-call-back" [ngClass]="selectedApplication ? '' : 'isDisabled'">
  <fieldset class="p-3 mt-3 mr-lg-3" >
    <h4 class="font16 font-weight-600">Add a callback URL <b>{{selectedApplication?.name}}</b></h4>
    <p class="font12">Please select or create an application to add your callback URL.</p>

    <label class="font14 font-weight-400">Select your callback URL</label>

    <div class="dropdown mb-3">
      <button type="button"
        class="btn btn-warning dropdown-toggle text-left font12 font-weight-400 d-flex justify-content-between align-items-center"
        data-toggle="dropdown">
        {{selectedCallback ? selectedCallback?.url : 'Select your callback URL'}}
      </button>
      <div class="dropdown-menu font12 font-weight-400">
        <button class="btn btn-default font-weight-400 font12" (click)="openModal(template1)">
          <i class="lni lni-plus mr-2"></i>Create New Callback Url</button>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let callback of _callbacks$.asObservable() | async" (click)="selectCallback(callback)">{{callback.name}}</a>
      </div>
    </div>
    <!-- start -->

    <div class="callback-read-only" *ngIf="selectedCallback">
      <form>
        <h4 class="font14 font-weight-400">Callback URL</h4>
        <div class="form-row mb-1">
          <div class="form-group col-md-2">
            <input type="text" class="form-control" value="{{selectedCallback?.httpMethod}}" readonly>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" value="{{selectedCallback?.url}}" readonly>
          </div>
        </div>

        <h4 class="font14 font-weight-400" *ngIf="selectedCallback?.signable">Security</h4>
        <label class="font12 pt-1" *ngIf="selectedCallback?.signable">HMAC Signature</label>
        <div class="form-row mt-1" *ngIf="false">
          <div class="form-group col-md-8">
            <label class="font14 font-weight-400 mb-1">Key ID</label>
            <input type="text" class="form-control" value="{{selectedCallback?.security?.keyId}}" readonly>
          </div>
        </div>
        <div class="form-row" *ngIf="selectedCallback?.signable">
          <div class="form-group col-md-8">
            <h4 class="font14 font-weight-400 mb-1">Secret API Key</h4>
            <input type="text" class="form-control" value="{{selectedCallback?.security?.keyId}}" readonly>
          </div>
        </div>
      </form>
    </div>
    <!-- end -->
  </fieldset>
</div>


  <div class="modalSave">
    <ng-template #template1>
      <form >
      <div class="modal-header">
        <h2 class="modal-title pull-left font16 font-weight-bold">Create new Callback URL</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true"><i class="lni lni-close font16"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <b>{{selectedApplication?.name}}</b>
        <app-callback-url></app-callback-url>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel border" aria-label="Close"
          (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="create()">Create</button>
      </div>
     </form >
    </ng-template>
  </div>
