<app-title [headerTitle]="title()"></app-title>
<div class="container-fluid create-webgroup">
  <form [formGroup]="form">
  <div class="row">
    <div class="col-md-7 col-lg-6 consumer d-flex justify-content-between">
      <div class="webgroup-heading mb-3 mb-md-0">
        <h5 class="font-weight-400 font14">Consumer group*</h5>
        <div class="select-consumer d-flex align-items-center">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="publicConsumerAccessCheck" [formControl]="publicConsumerAccess">
            <label class="custom-control-label font14" for="publicConsumerAccessCheck">Public</label>
          </div>
          <app-multi-select [control]="selectedConsumerGroups" [entries]="consumerGroups"></app-multi-select>
        </div>
      </div>

      <div class="webgroup-heading">
        <h5 class="font-weight-400 font14">Provider group*</h5>
        <div class="select-provider d-flex align-items-center">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="publicProviderAccessCheck" [formControl]="publicProviderAccess">
            <label class="custom-control-label font14" for="publicProviderAccessCheck">Public</label>
          </div>
          <app-multi-select [control]="selectedProviderGroups" [entries]="providerGroups"></app-multi-select>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-6 d-flex justify-content-md-end align-items-end">
      <div class="dot-buttons">
        <ul class="d-flex mb-0">
          <li>
            <button class="btn btn-default mr-2">
              Save & finish later
            </button>
          </li>
          <li>
            <button class="btn btn btn-primary">
              Publish
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ****** -->
  <div class="row">
    <div class="col-md-5 pr-md-0">
      <div class="border-top mb-3 mt-3"></div>
      <ngx-monaco-editor [options]="editorOptions" formControlName="spec"></ngx-monaco-editor>
    </div>
    <div class="col-md-7 pl-md-0">
      <asyncapi-component [schema]="specCode"></asyncapi-component>
    </div>
  </div>
  </form>
</div>
