<app-title [headerTitle]="title()"></app-title>
<div class="container-fluid create-webgroup">
  <form [formGroup]="webhookForm.form">
  <div class="row">
    <div class="col-md-7 col-lg-6 consumer d-flex justify-content-between">
      <div class="webgroup-heading mb-3 mb-md-0">
        <app-webhook-access-group
          publicTitle="Public"
          id="consumerAccess"
          path="consumergroups"
          [control]="webhookForm.consumerGroups"
          title="Consumer groups"
          [formGroup]="webhookForm.form"
        >
        </app-webhook-access-group>
      </div>
      <div class="webgroup-heading">
        <app-webhook-access-group
          publicTitle="All"
          id="providerAccess"
          path="providergroups"
          [control]="webhookForm.providerGroups"
          title="Provider groups"
          [formGroup]="webhookForm.form"
        >
        </app-webhook-access-group>
      </div>
    </div>
    <div class="col-md-5 col-lg-6 d-flex justify-content-md-end align-items-end">
      <div class="dot-buttons">
        <ul class="d-flex mb-0">
          <li>
            <button class="btn btn-default mr-2" (click)="save($event)">
              Save & finish later
            </button>
          </li>
          <li>
            <button class="btn btn btn-primary disabled" disabled>
              Publish
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ****** -->
  <div class="row mt-4" [(ngbCollapse)]="isCollapsed">
    <div class="col-md-12 pr-md-0">
      <ngb-alert [dismissible]="true" type="danger" *ngIf="error" (closed)="clearError()">
        <strong>{{error.name}}</strong><br/>{{error.message}}
      </ngb-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 pr-md-0">
      <div class="border-top mb-3 mt-3"></div>
      <ngx-monaco-editor [options]="editorOptions" formControlName="spec"></ngx-monaco-editor>
    </div>
    <div class="col-md-7 pl-md-0">
      <div class="border-top mb-3 mt-3"></div>
      <asyncapi-component [schema]="specCode"></asyncapi-component>
    </div>
  </div>
  </form>
</div>
