<app-title></app-title>
<div class="container-fluid">
   <div class="row">
       <div class="col-12">

       </div>
   </div>
   <div class="row">
    <div class="col-md-5">
        
    </div>
    <div class="col-md-7">
        <h4>Order Management</h4>
        <p>Subscribe to this Webhook to receive new orders when they are created.</p>
        <app-headers></app-headers>
        <app-body></app-body>
        <app-security-options></app-security-options>
        <div class="pr-lg-0">
            <app-request></app-request>
        </div>
    </div>
   </div>
</div>
