<div class="subscribe-application border-top">
  <fieldset class="p-3 mt-3 mr-lg-3">
    <h4 class="font16 font-weight-600">Your application</h4>
    <p class="font12">Please select or create an application to add your callback URL.</p>
    <label class="font14 font-weight-400">Select your application</label>
    <div class="dropdown">
      <button type="button"
        class="btn btn-warning dropdown-toggle text-left font-weight-400 font12 d-flex justify-content-between align-items-center"
        data-toggle="dropdown">
        {{appSelected?appSelected:'Select your application'}}
      </button>
      <div class="dropdown-menu font12 font-weight-400">
        <button class="btn btn-default font-weight-400 font12" (click)="openModal(template1)"><i
            class="lni lni-plus mr-2"></i>Create New Application</button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" (click)="selectApp('Ericsson')">Ericsson</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="selectApp('Telia')">Telia</a>
      </div>
    </div>
    <div class="my-2" *ngIf="variable.app">
      <h4 class="font12 font-weight-600 mt-2 mb-1">{{appSelected}}</h4>
      <p class="font12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially</p>
   </div>
  </fieldset>
  
</div>

<div class="app-modal-w">
<div class="modalSave">
  <ng-template #template1>
    <form >
    <div class="modal-header">
      <h2 class="modal-title pull-left font16 font-weight-bold">Create new application</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true"><i class="lni lni-close font16"></i></span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="form-group">
        <label for="name" class="font14 font-weight-400">Application name</label>
        <input type="text" class="form-control" id="name" placeholder="Volvo cars">
      </div>
      <div class="form-group">
        <label for="Description" class="font14 font-weight-400">Description</label>
        <textarea class="form-control" rows="5" id="Description"
          placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially"></textarea>
      </div>
      <label for="name" class="font14 font-weight-400 mt-2">Consumer group</label>
      <div class="dropdown">
        <button type="button"
          class="btn btn-warning dropdown-toggle w-50 text-left font12 font-weight-400 d-flex justify-content-between align-items-center"
          data-toggle="dropdown">
          2 consumers selected
        </button>
        <div class="dropdown-menu w-50 font12 font-weight-400">
          <a class="dropdown-item" href="javascript:void(0)">Consumers 1</a>
          <a class="dropdown-item" href="javascript:void(0)">Consumers 2</a>
        </div>
      </div>
      <div class="consumer-value">
        <ul class="d-flex align-items-center mt-3">
        <li><a href="#">Consumers 1 </a><img src="assets/images/Pill_delete.svg"></li>
        <li><a href="#">Consumers 2 </a><img src="assets/images/Pill_delete.svg"></li>
      </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default cancel border" aria-label="Close"
        (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="create()">Create</button>
    </div>
   </form >
  </ng-template>
</div>
</div>