.w-el-svg-a, .w-el-svg-c, .w-el-svg-g, .w-el-svg-p, .w-el-svg-q, .w-el-svg-s {
  fill: var(--primary-color);
}

.w-el-svg-a {
  opacity: 0.178;
}

.w-el-svg-b {
  fill: #ebebeb;
}

.w-el-svg-d, .w-el-svg-e, .w-el-svg-f, .w-el-svg-h, .w-el-svg-k, .w-el-svg-l, .w-el-svg-o, .w-el-svg-t, .w-el-svg-u {
  fill: #fff;
}

.w-el-svg-d {
  opacity: 0.4;
}

.w-el-svg-e {
  opacity: 0.77;
}

.w-el-svg-f {
  opacity: 0.784;
}

.w-el-svg-g {
  opacity: 0.092;
}

.w-el-svg-h {
  opacity: 0.55;
}

.w-el-svg-i {
  opacity: 0.1;
}

.w-el-svg-j {
  fill: var(--primary-dark-color);
}

.w-el-svg-k {
  opacity: 0.418;
}

.w-el-svg-l, .w-el-svg-s {
  opacity: 0.5;
}

.w-el-svg-m {
  fill: #37474f;
}

.w-el-svg-n {
  opacity: 0.3;
}

.w-el-svg-o {
  opacity: 0.389;
}

.w-el-svg-p {
  opacity: 0.187;
}

.w-el-svg-q {
  opacity: 0.19;
}

.w-el-svg-r {
  fill: var(--primary-dark-color);
}

.w-el-svg-s {
  stroke: var(--primary-color);
  stroke-miterlimit: 10;
}

.w-el-svg-t {
  opacity: 0.373;
}
