<section class="bg-primary py-4 py-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h2 class="font35 font-weight-bold text-white">Webhooks</h2>
                <p class="text-white">Check out the Webhooks we have to offer</p>
            </div>
            <div class="col-md-3 text-right">
              <a class="text-white" routerLink="/webhooks" routerLinkActive="active">
                View all <i class="bi bi-arrow-right"></i>
              </a>
            </div>
        </div>

        <div class="slider mt-3">
            <!--suppress JSUnusedGlobalSymbols -->
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let wg of items | async" class="slide">
                    <div class="slide">
                        <div class="bg-white p-3">
                            <h5 class="font20 font-weight-bold">{{wg.title}}
                                <!--<span class="badge bg-primary text-white font12 float-right font-weight-normal">New</span>-->
                            </h5>
                            <ul class="webhook-items-ul">
                                <li class="ml-0">{{wg.webhooks.length}} webhook{{wg.webhooks.length > 1 ? 's' : ''}}</li>
                                <li [class.ml-0]="wg.webhooks.length==0">{{wg.numberOfSubscriptions}} subscription{{wg.numberOfSubscriptions > 1 ? 's' : ''}}</li>
                            </ul>
                            <p>{{wg.description}}</p>
                            <a (click)="browseWebhookGroup(wg)" routerLink="/webhooks/webhooks-page/webhook/webhook-detail" routerLinkActive="active">Browse <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>
