.slick-track {
    margin-left: 0 ;
    margin-right: 0;
}
.slide.slick-slide {
    padding: 0 10px;
}
.slick-dots li{
    margin:0;
    width:15px;
}
.slick-dots li.slick-active button:before {
    color: #fff !important;
    content: "\25CF" !important;
    opacity: 1 !important;
}
.slide:focus {
    outline: none;
}
.slide a:focus {
    outline: none;
}
.slide a:hover {
    text-decoration: none;
}
.slick-dots li button:before {
    content: "\25CB";
   font-size: 14px;
    color:#fff;
    opacity: 1;
}

.bg-white p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 42px;
}
