<section class="bg-primary py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h2 class="font35 font-weight-bold text-white">Webhooks</h2>
                <p class="text-white">Check out the Webhooks we have to offer</p>
            </div>
            <div class="col-md-3 text-right">
                <a href="/webhooks/webhooks-page/welcome" class="text-white">View all <i class="bi bi-arrow-right"></i></a>
            </div>
        </div> 
        <owl-carousel-o [options]="customOptions" class="mt-3 d-block">
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="bg-white p-3">
                        <h5 class="font20 font-weight-bold">Order management <span class="badge bg-primary text-white font12 float-right font-weight-normal">New</span></h5>
                        <ul class="webhook-items-ul">
                            <li class="ml-0">6 webhook</li>
                            <li>300 subscriptions</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#">Browse <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="bg-white p-3">
                        <h5 class="font20 font-weight-bold">Product catalog <span class="badge bg-primary text-white font12 float-right font-weight-normal">New</span></h5>
                        <ul class="webhook-items-ul">
                            <li class="ml-0">20 webhook</li>
                            <li>200 subscriptions</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#">Browse <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="bg-white p-3">
                        <h5 class="font20 font-weight-bold">Order management <span class="badge bg-primary text-white font12 float-right font-weight-normal">New</span></h5>
                        <ul class="webhook-items-ul">
                            <li class="ml-0">20 webhook</li>
                            <li>190 subscriptions</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#">Browse <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="bg-white p-3">
                        <h5 class="font20 font-weight-bold">Order management <span class="badge bg-primary text-white font12 float-right font-weight-normal">New</span></h5>
                        <ul class="webhook-items-ul">
                            <li class="ml-0">6 webhook</li>
                            <li>300 subscriptions</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#">Browse <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="bg-white p-3">
                        <h5 class="font20 font-weight-bold">Product catalog <span class="badge bg-primary text-white font12 float-right font-weight-normal">New</span></h5>
                        <ul class="webhook-items-ul">
                            <li class="ml-0">20 webhook</li>
                            <li>200 subscriptions</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#">Browse <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="bg-white p-3">
                        <h5 class="font20 font-weight-bold">Order management <span class="badge bg-primary text-white font12 float-right font-weight-normal">New</span></h5>
                        <ul class="webhook-items-ul">
                            <li class="ml-0">20 webhook</li>
                            <li>190 subscriptions</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#">Browse <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>