<app-title></app-title>
<div class="row ml-0 mr-0">
    <div class="col-md-6">
        <app-order-title></app-order-title>
    </div>
    <div class="col-md-6">
        <app-sub-test-dot-buttons></app-sub-test-dot-buttons>
    </div>
</div>
<div class="row ml-0 mr-0">
    <div class="col-12">
        <app-order-rate-sub-links></app-order-rate-sub-links>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-application></app-application>
        <app-callback></app-callback>
        <app-response></app-response>
    </div>
    <div class="col-6">
        <app-request-example></app-request-example>
    </div>
</div>
