input.form-control {
  border: 0;
  height: 32px;
  border: 1px solid #E1E1E1;
}

button.btn.btn-secondary {
  background-color: var(--color-white);
  border: 1px solid #e1e1e1;
  height: 32px;
  border-left: 0;
}

::placeholder {
  font-size: 14px;
}

.text-primary {
  color: var(--primary-color) !important;
}

.btn-secondary:hover {
  color: var(--primary-text-color);
}

.sidebar-heading i {
  float: right;
}
