
@media (max-width:767px){
    .btn-default{
        padding:0.5rem 1rem !important;
        width:100% !important;
        margin-left: 0px;
        font-weight: normal;
    }
    .btn-primary-gradient{
        margin:0.5rem 1rem !important;
    }        
}