.light-mode {
  background-color: #ffffff;
  padding: 20px;
  height: 100%;
  border: 1px solid #e1e1e1;
}

.light-mode .custom-control-label::before {
  top: 0.1rem !important;
  background-color: #C6C6C6;
  border: 0;
}

.light-mode .custom-switch .custom-control-label::after {
  top: 3px !important;
  background-color: var(--color-white);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--secondary-color);
}

.light-mode.dark-mode-active {
  background-color: #2D2D2D !important;
  color: #FFFFFF;
}

.light-mode pre {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 1.9;
  white-space: pre-wrap;
}

.mode-switcher {
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
.nav-pills a{
  color: var(--primary-text-color);
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 8px;
}
.dark-mode-active .nav-pills a {
  color: white !important;
}
.nav-pills a:hover{
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600 !important;
}
.nav-pills a:focus{
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600 !important;
}
.active{
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600 !important;
}
@media (max-width: 767px) {
  .light-mode pre {
    font-size: 13px;
    line-height: 1.6;
  }
}
