<div class="traffic-dropdowns">
  <div class="drop-buttons d-flex">
    <ul class="d-flex align-items-center">
      <li>
        <h5>Company</h5>
        <div class="dropdown">
          <button type="button" class="btn btn-warning dropdown-toggle text-left font-weight-400 font12 d-flex justify-content-between align-items-center" data-toggle="dropdown"> Select company </button>
          <div class="dropdown-menu font12 font-weight-400">
            <button class="btn btn-default font-weight-400 font12">Create New Application</button>
            <a class="dropdown-item"></a>
          </div>
        </div>
      </li>
      <li>
        <h5>Application</h5>
        <div class="dropdown">
          <button type="button" class="btn btn-warning dropdown-toggle text-left font-weight-400 font12 d-flex justify-content-between align-items-center" data-toggle="dropdown"> Select application </button>
          <div class="dropdown-menu font12 font-weight-400">
            <button class="btn btn-default font-weight-400 font12">Create New Application</button>
            <a class="dropdown-item"></a>
          </div>
        </div>
      </li>
      <li>
        <h5>Callback URL</h5>
        <div class="dropdown">
          <button type="button" class="btn btn-warning dropdown-toggle text-left font-weight-400 font12 d-flex justify-content-between align-items-center" data-toggle="dropdown"> Select callback URL </button>
          <div class="dropdown-menu font12 font-weight-400">
            <button class="btn btn-default font-weight-400 font12">Create New Application</button>
            <a class="dropdown-item"></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-traffic-table
  #tableComponent
  [component]="this"
>
</app-traffic-table>
