<div class="traffic-dropdowns">
  <div class="drop-buttons d-flex">
    <ul class="d-flex align-items-center">
      <li>
        <app-searchable-select
          title="Entity"
          (onSelect)="spanFilter.selectEntity($event)"
          (onClear)="clearEntity()"
          #entitiesComponent
        >
        </app-searchable-select>
      </li>
      <li>
        <app-searchable-select
          title="Application"
          (onSelect)="spanFilter.selectApplication($event)"
          (onClear)="clearApplication()"
          #applicationsComponent
        >
        </app-searchable-select>
      </li>
      <li>
        <app-searchable-select
          title="Callback URL"
          (onSelect)="spanFilter.selectCallback($event)"
          (onClear)="clearCallback()"
          #callbacksComponent
        >
        </app-searchable-select>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="debug">
  <hr>
  <pre>Subscriptions Filter: {{ spanFilter.initialFilter | json }}</pre>
</div>
<div *ngIf="debug">
  <hr>
  <pre>Span Filter: {{ spanFilter.current | json }}</pre>
</div>
<div *ngIf="debug">
  <hr>
  <pre>Filters: {{ tableComponent.currentFilter | async | json }}</pre>
</div>

<app-generic-table
  #tableComponent
  [component]="this"
>
</app-generic-table>

<ng-template #resultViewer>
  <app-json-viewer></app-json-viewer>
</ng-template>
