<div class="common-table">
  <div class="number d-flex justify-content-between mb-3 align-items-center">
    <h5 class="font12 font-weight-600 mb-0">{{dataSource.data.length}} rows</h5>
    <div class="resend d-flex align-items-center">
      <h5 class="font12 font-weight-600 mb-0 mr-3">{{table.selectedRows.length}} Items selected</h5>
      <button class="btn btn-primary" [class.disabled]="table.emptySelectedRows" [disabled]="table.emptySelectedRows">Resend message</button>
    </div>
  </div>
</div>
<div class="common-table">
  <div id="tbl1" class="table-responsive sticky-table sticky-ltr-cells">
    <table class="table table-borderless border-0 position-relative">
      <thead class="font14 font-weight-600">
      <tr class="sticky-header">
        <th *ngFor="let header of table.headers; trackBy:dataSource.trackByHeader" scope="col" [ngClass]="header.clazz" class="text-nowrap">{{header.title}}
          <img *ngIf="dataSource.isSelectableHeader(header)" src="../../../../assets/images/Checkbox-minus.svg" class="ml-0" alt="minus">
          <span *ngIf="dataSource.isSortableHeader(header)" class="text-primary">
            <app-sort-buttons (onAsc)="sortAsc(header)" (onDesc)="sortDesc(header)"></app-sort-buttons>
          </span>
        </th>
        <th scope="col" class="filter text-center sticky-cell-opposite table-filters-collapse"
            [class.active]="showFilter" (click)="showFilter=!showFilter">
          <a data-toggle="collapse" href="#filters_collapse_wrapper" class="clickable border-left">
            <img src="../../../../assets/images/Filter.svg" class="ml-0" alt="filter">
          </a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="collapse" id="filters_collapse_wrapper">
        <td *ngFor="let filter of table.filters;  let i = index; trackBy:dataSource.trackByFilter" [ngClass]="filter.clazz" >
          <form [formGroup]="filtersForm">
            <div *ngIf="dataSource.isSearchFilter(filter)" class="form-inline search-small">
              <div class="input-group mw-180">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" placeholder="Search..." class="form-control border-right-0" [formControlName]="filter.name">
                <div class="input-group-append">
                  <a href="javascript:void(0)" class="input-group-text bg-white px-2"><i
                    class="lni lni-search-alt"></i></a>
                </div>
              </div>
            </div>
            <app-search-list *ngIf="dataSource.isSearchListFilter(filter)" [filter]="filter" [control]="formControl(filter)"></app-search-list>
            <app-timestamp-filter *ngIf="dataSource.isTimestampFilter(filter)" [filter]="filter" [formGroup]="filtersForm"></app-timestamp-filter>
          </form>
        </td>
      </tr>
      <!-- main-table -->
      <ng-container *ngFor="let data of dataSource.data;let i=index; trackBy:dataSource.trackByData" (scroll)="onTableScroll($event)">
        <tr class="sticky-header">
          <td *ngFor="let column of table.columns; trackBy:dataSource.trackByColumn" [ngClass]="column.clazz">
            <a *ngIf="dataSource.isMoreDataColumn(column)" href="javascript:void(0)" (click)="table.loadDetails(data)" class="clickable">
              <img *ngIf="isOpen(data)" src="assets/images/Chevron_down.svg" alt="down">
              <img *ngIf="!isOpen(data)" src="assets/images/Chevron.svg" alt="right">
            </a>
            <div *ngIf="dataSource.isSelectableColumn(column)" class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check1{{i}}" (change)="table.rowSelectionChanged(column, data, $event)">
              <label class="custom-control-label" for="check1{{i}}"></label>
            </div>
            <span [innerHTML]="column.value(data)"></span>
          </td>
          <td class="dropdown text-center sticky-cell-opposite">
            <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
              <img src="../../../../assets/images/provider-menu.svg" alt="menu">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
              <ul class="nav-vertical nav-small">
                <li class="nav-item"><a href="#" class="nav-link">Traffic</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Deactivate</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr [class.collapse]="!isOpen(data)" class="border-0" *ngIf="dataSource.isMasterData(data)">
          <td colspan="30" class="position-relative">
            <app-spinner class="spinner" *ngIf="data.isLoading"></app-spinner>
            <table class="collapse-table">
              <thead>
                <tr class="border-0">
                  <th *ngFor="let header of table.detailHeaders; trackBy:dataSource.trackByDetailHeader">{{header.title}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detailData of dataSource.details(data) | async;let i=index; trackBy:dataSource.trackByDetailData">
                  <td *ngFor="let detailColumn of table.detailColumns; trackBy:dataSource.trackByDetailColumn"><span [innerHTML]="detailColumn.value(detailData)"></span></td>
                  <td class="text-right"><img src="../../../../assets/images/provider-menu.svg" alt="menu"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
      <!-- main-collaspe-close -->
      </tbody>
      <app-spinner class="spinner" *ngIf="table.isLoadingData"></app-spinner>
    </table>
  </div>
</div>
