<!--
<table mat-table [dataSource]="dataSource" class="table">

  &lt;!&ndash; Entity Column &ndash;&gt;
  <ng-container matColumnDef="entity">
    <th mat-header-cell *matHeaderCellDef scope="col">Company</th>
    <td mat-cell *matCellDef="let element"> {{element.application.entity}} </td>
  </ng-container>

  &lt;!&ndash; Entity Column &ndash;&gt;
  <ng-container matColumnDef="application">
    <th mat-header-cell *matHeaderCellDef scope="col">Application</th>
    <td mat-cell *matCellDef="let element"> {{element.application.name}} </td>
  </ng-container>

  &lt;!&ndash; Entity Column &ndash;&gt;
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef scope="col">Webhook</th>
    <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
  </ng-container>

  &lt;!&ndash; Entity Column &ndash;&gt;
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef scope="col">Callback URL</th>
    <td mat-cell *matCellDef="let element"> {{element.callback.url}} </td>
  </ng-container>

  &lt;!&ndash; Entity Column &ndash;&gt;
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef scope="col">Status</th>
    <td mat-cell *matCellDef="let element"> {{element.statusUpdate.status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
-->
<div class="table-responsive">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button class="nav-link" (click)="asConsumer()">Your subscriptions</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="asProvider()">Your webhook subscriptions</button>
    </li>
  </ul>
  <table class="table table-bordered table-hover">
    <caption>List of subscriptions</caption>
    <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Application</th>
      <th scope="col">Webhook</th>
      <th scope="col">Callback URL</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tr *ngFor="let subscription of subscriptions$ | async">
      <td>{{subscription.application.entity}}</td>
      <td>{{subscription.application.name}}</td>
      <td>{{subscription.topic}}</td>
      <td>{{subscription.callback.url}}</td>
      <td>{{subscription.statusUpdate.status}}</td>
    </tr>
  </table>
</div>
