.subscriptions {
  margin: 15px 0px;
}

.subscriptions ul li a {
  display: block;
  padding: 6px 0px;
  color: var(--primary-text-color);
  font-size: 12px;
  text-decoration: none;
}

.subscriptions ul li .active {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
}
