.head-order-title h2{
    font-size: 20px;
    font-weight: 700 !important;
    color:#0A1E42;
}
.head-order-title span.badge {
    background-color: #0151CC;
    font-size:10px;
    border-radius: 2px;
    font-weight: 400;
}



