<div id="header-accordion">
  <div class="card">
    <div class="card-header" id="sub-heading-1">
      <a data-toggle="collapse" href="#main-collapse">Header</a>
    </div>
    <div id="main-collapse" class="collapse show" data-parent="#header-accordion">
      <div class="card-body">
        <div id="sub-accordion-1">
          <div class="card">
            <div class="card-header" id="heading-1-1">
              <a class="collapsed" data-toggle="collapse" href="#sub-heading-collapse-1"
                class="font14 font-weight-600">Authorization</a>
            </div>
            <div id="sub-heading-collapse-1" class="collapse" data-parent="#sub-accordion-1">
              <div class="card-body">
                <div class="authorization">
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Description</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Authentication information provided in this header</p>
                    </div>
                  </div>
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Format</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Signature keyId=“your key id”,algorithm=“rsa-sha256”,
                        headers=“(request-target) host date digest content- length”,
                        signature=“Base64(RSA-SHA256(signing string)</p>
                    </div>
                  </div>
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Example</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Signature keyId=“your key id”,algorithm=“rsa-sha256”,
                        headers=“(request-target) host date digest content- length”,
                        signature=“Base64(RSA-SHA256(signing string)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="sub-heading-2">
              <a class="collapsed" data-toggle="collapse" href="#sub-heading-collapse-2" class="font14 font-weight-600">
                Header2
              </a>
            </div>
            <div id="sub-heading-collapse-2" class="collapse" data-parent="#sub-accordion-1">
              <div class="card-body">
                <div class="authorization">
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Description</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Authentication information provided in this header</p>
                    </div>
                  </div>
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Format</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Signature keyId=“your key id”,algorithm=“rsa-sha256”,
                        headers=“(request-target) host date digest content- length”,
                        signature=“Base64(RSA-SHA256(signing string)</p>
                    </div>
                  </div>
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Example</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Signature keyId=“your key id”,algorithm=“rsa-sha256”,
                        headers=“(request-target) host date digest content- length”,
                        signature=“Base64(RSA-SHA256(signing string)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="sub-heading-3">
              <a class="collapsed" data-toggle="collapse" href="#sub-heading-collapse-3" class="font14 font-weight-600">
                Header3
              </a>
            </div>
            <div id="sub-heading-collapse-3" class="collapse" data-parent="#sub-accordion-1">
              <div class="card-body">
                <div class="authorization">
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Description</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Authentication information provided in this header</p>
                    </div>
                  </div>
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Format</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Signature keyId=“your key id”,algorithm=“rsa-sha256”,
                        headers=“(request-target) host date digest content- length”,
                        signature=“Base64(RSA-SHA256(signing string)</p>
                    </div>
                  </div>
                  <div class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Example</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">Signature keyId=“your key id”,algorithm=“rsa-sha256”,
                        headers=“(request-target) host date digest content- length”,
                        signature=“Base64(RSA-SHA256(signing string)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>