<div class="congrats-comp mt-5 mb-5">
  <h2 class="font-weight-bold">Congratulations!</h2>
  <p>You have been successfully subscribed to <span class="font-weight-bold">{{topic}} webhook.</span></p>
  <div class="mt-5 mb-3"><img src="assets/images/Congratulations!.svg" class="img-fluid"></div>
  <div>
    <button class="btn btn-default mr-3" routerLink='/subscriptions'>Manage your subscription<img
      src="assets/images/Arrow (1).svg" class="ml-2"></button>
    <button class="btn btn-default" routerLink='/webhooks'>Go to webhooks page<img src="assets/images/Arrow (1).svg"
                                                                                   class="ml-2"></button>
  </div>
</div>
