<div class="congrats-comp mt-5 mb-5">
  <h2 class="font-weight-bold">Congratulations!</h2>
  <p>You have been successfully subscribed to <span class="font-weight-bold">{{topic | async}} webhook.</span></p>
  <div class="mt-5 mb-3">
    <app-congrats-svg></app-congrats-svg>
  </div>
  <div>
    <button class="btn btn-default mr-3" routerLink='/subscriptions/consumer'>Manage your subscription
      <app-arrow-right></app-arrow-right>
    </button>
    <button class="btn btn-default" routerLink='/webhooks'>Go to webhooks page
      <app-arrow-right></app-arrow-right>
    </button>
  </div>
</div>
