#wrapper {
    overflow-x: hidden;
}
#sidebar-wrapper {
  width: 260px;
  min-height: 100vh;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #F4F5F7 !important;
}
#sidebar-nav .nav-item .nav-link{
    font-size:14px;
    color:var(--primary-text-color);
    padding: 8px 15px;
}
#sidebar-nav .nav-item .nav-link.active{
    background-color: var(--primary-color);
    color:var(--color-white);
    font-weight:bold;
}






