<div id="sidebar-wrapper">
    <div id="sidebar-nav">
        <ul class="navbar-nav">
            <li class="nav-item d-block d-md-none">
                <a class="nav-link administration-menu-toggle text-right" href="javascript:void(0)" routerLinkActive="active">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/administration/consumer" routerLinkActive="active">
                    Consumer groups
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/administration/provider" routerLinkActive="active">
                    Provider groups
                </a>
            </li>
<!--
            <li class="nav-item">
                <a class="nav-link" routerLink="/administration/whitelabel" routerLinkActive="active">
                    Whitelabel
                </a>
            </li>
-->
        </ul>
    </div>
</div>
