.dot-buttons ul {
  list-style-type: none;
  padding: 0;
}

.dot-buttons button {
  padding: 4px 12px;
  font-weight: 400;
  border-radius: 4px;
  margin-left: 8px;
}

.dot-buttons .btn-default {
  font-weight: 400;
  border: 1px solid #ddd;
  margin-left: 8px;
  color: #0151CC;
}

.dot-buttons ul {
  list-style-type: none;
}

.dot-buttons i {
  font-size: 12px;
  color: #0A1E42;
}

.test_color {
  color: #fff !important;
}

.dot-buttons input, label {
  cursor: pointer;
  user-select: none;
}

@media (max-width: 767px) {
  .dot-buttons ul {
    padding: 0px;
  }

  .dot-buttons .btn-default {
    margin-left: 0px;
    margin-right: 8px;
  }
}
