<header>
  <div class="container-fluid shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light mobile-menu px-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-logo></app-logo>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <app-menu></app-menu>
        <div class="d-block d-md-none">
          <app-login-get-started></app-login-get-started>
        </div>
      </div>

      <div class="ml-auto d-flex align-items-center mobile-search">
        <app-search></app-search>
        <div class="d-none d-md-block">
          <app-login-get-started></app-login-get-started>
        </div>
      </div>
    </nav>
  </div>
</header>