<header>
  <div class="container-fluid shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light mobile-menu px-0">
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-logo></app-logo>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <app-menu></app-menu>
        <div class="d-block d-md-none">
          <app-health-indicator></app-health-indicator>
          <app-login-get-started></app-login-get-started>
          <app-profile-icon></app-profile-icon>
        </div>
      </div>

      <div class="ml-auto d-flex align-items-center mobile-search">
        <app-search *ngIf="false"></app-search>
        <app-health-indicator></app-health-indicator>
        <div class="d-none d-md-block">
          <app-login-get-started></app-login-get-started>
        </div>
        <app-profile-icon></app-profile-icon>
      </div>
    </nav>
  </div>
</header>
