.order-menu{
    margin: 15px 0px;
}
.order-menu ul li a {
    display: block;
    padding: 12px 18px;
    color: #0A1E42;
    font-size: 12px;
    text-decoration: none;
}
.order-menu ul li.is-active a{
    border-bottom: 1px solid #0151CC;
    color: #0151CC;
}
