<div class="dropdown" *ngIf="show">
  <button type="button" class="btn btn-xs btn-bordered dropdown-toggle text-left w-100 mw-180" data-toggle="dropdown">
    {{title}}
  </button>
  <div class="search-small dropdown-menu multi-select-dropdown mt-0">
    <div class="input-group">
      <input type="text" placeholder="Search..." class="form-control border-right-0" id="{{id}}-Search">
      <label for="{{id}}-Search"></label>
      <div class="input-group-append">
        <a href="javascript:void(0)" class="input-group-text bg-white px-2">
          <i class="lni lni-search-alt"></i>
        </a>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="scrollable-list">
      <div class="custom-control custom-checkbox" (click)="toggleAll($event)" *ngIf="entries.length > 1">
        <input type="checkbox" class="custom-control-input" id="{{id}}-All" name="example1" [checked]="allSelected">
        <label class="custom-control-label" for="{{id}}-All">Select All</label>
      </div>
      <div class="custom-control custom-checkbox" *ngFor="let entry of entries"
           (click)="toggle(entry, $event)">
        <input type="checkbox" class="custom-control-input" id="{{entry.key}}" name="example1" [checked]="checkedItem(entry)">
        <label class="custom-control-label" for="{{entry.key}}">{{entry.value}}</label>
      </div>
    </div>
  </div>
  <div class="item-value">
    <ul class="d-flex align-items-center mt-3">
      <li *ngFor="let item of selectedItems">
        <span>{{item.value}}</span><img (click)="toggle(item, $event)" alt="" src="assets/images/Pill_delete.svg">
      </li>
    </ul>
  </div>
</div>

