<div class="subscribe-application border-top">
  <fieldset class="p-3 mt-3 mr-lg-3">
    <h4 class="font16 font-weight-600">Your application</h4>
    <p class="font12">Please select or create an application to add your callback URL.</p>
    <label class="font14 font-weight-400">Select your application</label>
    <div class="dropdown">
      <button type="button"
        class="btn btn-warning dropdown-toggle text-left font-weight-400 font12 d-flex justify-content-between align-items-center"
        data-toggle="dropdown">
        {{variable.appName?variable.appName:'Select your application'}}
      </button>
      <div class="dropdown-menu font12 font-weight-400">
        <button class="btn btn-default font-weight-400 font12" (click)="variable.openModal(template1)"><i
            class="lni lni-plus mr-2"></i>Create New Application</button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let app of _applications$.asObservable() | async" (click)="selectApp(app)">{{app.name}}</a>
      </div>
    </div>
    <div class="my-2" *ngIf="variable.app">
      <h4 class="font12 font-weight-600 mt-2 mb-1">{{variable.appName}}</h4>
      <p class="font12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially</p>
   </div>
  </fieldset>

</div>

<div class="app-modal-w">
<div class="modalSave">
  <ng-template #template1>
    <app-create-application></app-create-application>
  </ng-template>
</div>
</div>
