<div class="subscribe-application border-top">
  <fieldset class="p-3 mt-3 mr-lg-3">
    <h4 class="font16 font-weight-600">Your application</h4>
    <p class="font12">Please select or create an application to add your callback URL.</p>
    <div>
      <app-searchable-select
        title="Application"
        (onSelect)="selectApp($event)"
        [allowCreate]="true"
        (onCreate)="modalService.open(template1)"
        (onClear)="clearApp()"
        #applicationsComponent
      >
      </app-searchable-select>
    </div>
    <div *ngIf="selectedApplication" class="my-2">
      <h4 class="font12 font-weight-600 mt-2 mb-1">{{selectedApplication?.name}}</h4>
      <p class="font12">{{selectedApplication?.description}}</p>
    </div>
  </fieldset>

</div>

<div class="app-modal-w">
  <div class="modalSave">
    <ng-template #template1>
      <app-create-application></app-create-application>
    </ng-template>
  </div>
</div>
