<div class="subscribe-application border-top">
  <fieldset class="p-3 mt-3 mr-lg-3">
    <h4 class="font16 font-weight-600">Your application</h4>
    <p class="font12">Please select or create an application to add your callback URL.</p>
    <label class="font14 font-weight-400">Select your application</label>
    <div class="dropdown">
      <button type="button"
        class="btn btn-warning dropdown-toggle text-left font-weight-400 font12 d-flex justify-content-between align-items-center"
        data-toggle="dropdown">
        {{selectedApplication ? selectedApplication?.name : 'Select your application'}}
      </button>
      <div class="dropdown-menu font12 font-weight-400">
        <button class="btn btn-default font-weight-400 font12" (click)="variable.openModal(template1)"><i
            class="lni lni-plus mr-2"></i>Create New Application</button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let app of _applications$.asObservable() | async" (click)="selectApp(app)">{{app.name}}</a>
      </div>
    </div>
    <div class="my-2" *ngIf="selectedApplication">
      <h4 class="font12 font-weight-600 mt-2 mb-1">{{selectedApplication?.name}}</h4>
      <p class="font12">{{selectedApplication?.description}}</p>
   </div>
  </fieldset>

</div>

<div class="app-modal-w">
<div class="modalSave">
  <ng-template #template1>
    <app-create-application></app-create-application>
  </ng-template>
</div>
</div>
