<div class="row">
    <div class="col-md-12 col-lg-8">
        <h2 class="font20 font-weight-600">Automate your processes with our webhooks</h2>
        <p class="font14 font-weight-400">Receive events from our system when they happen. No need to poll for changes,
            use EDI or any other outdated technology. Take a look at the webhooks we offer, manage your own subscription
            and get the information when it happens.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-8">
        <h2 class="font20 font-weight-600">Discover our webhooks</h2>
        <p class="font14 font-weight-400">Subscribe and start getting event driven data to your system.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-4 mb-3 mb-lg-0" *ngFor="let tx of firstRow">
        <div class="border-box p-3">
            <h4 class="font14 font-weight-400">{{tx.group.title}}</h4>
            <h3 class="font20 font-weight-bold d-flex align-items-center" [innerHTML]="service.highlightedName(tx.topic.name)"></h3>
            <div class="user-rating d-flex">
<!--
    //hiding for BETA release
                <ul class="d-flex align-items-center">
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="far fa-star unchecked"></i></li>
                    <li class="ml-2 font12">300</li>
                </ul>
    END OF // hiding for BETA release
-->
                <div class="user-subscriptions">
                    <ul class="d-flex">
<!--
    //hiding for BETA release
                        <li><i class="fas fa-user-alt border-left pl-2"></i></li>
    END OF // hiding for BETA release
-->
                        <li>{{tx.webhook.numberOfSubscriptions}} subscription{{tx.webhook.numberOfSubscriptions > 1 ? 's' : ''}}</li>
                    </ul>
                </div>
            </div>


            <p>{{tx.topic.description}}</p>
            <button
              (click)="select(tx)"
              class="btn btn-default font14">
              View
              <svg xmlns="http://www.w3.org/2000/svg" width="11.367" height="10.158" viewBox="0 0 11.367 10.158">
                <path class="arrow-right-svg-a" d="M10.158,5.362l-.686.653L5.537,1.874v9.493H4.59V1.881L.69,6.014,0,5.363,5.064,0Z"
                      transform="translate(11.367) rotate(90)"/>
              </svg>
            </button>
        </div>
    </div>
</div>
<div class="row margin" *ngFor="let row of this.rest">
    <div class="col-md-10 col-lg-4 mb-3 mb-lg-0" *ngFor="let tx of row">
        <div class="border-box p-3">
            <h4 class="font14 font-weight-400">{{tx.group.title}}</h4>
            <h3 class="font20 font-weight-bold d-flex align-items-center" [innerHTML]="service.highlightedName(tx.topic.name)"></h3>
            <div class="user-rating d-flex">
<!--
    //hiding for BETA release
                <ul class="d-flex align-items-center">
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li class="ml-2 font12">300</li>
                </ul>
    END OF // hiding for BETA release
-->
                <div class="user-subscriptions">
                    <ul class="d-flex">
<!--
    //hiding for BETA release
                        <li><i class="fas fa-user-alt border-left pl-2"></i></li>
    END OF // hiding for BETA release
-->
                        <li>{{tx.webhook.numberOfSubscriptions}} subscription{{tx.webhook.numberOfSubscriptions > 1 ? 's' : ''}}</li>
                    </ul>
                </div>
            </div>


            <p>{{tx.topic.description}}</p>
            <button (click)="select(tx)" class="btn btn-default font14">View
              <svg xmlns="http://www.w3.org/2000/svg" width="11.367" height="10.158" viewBox="0 0 11.367 10.158">
                <path class="arrow-right-svg-a" d="M10.158,5.362l-.686.653L5.537,1.874v9.493H4.59V1.881L.69,6.014,0,5.363,5.064,0Z"
                      transform="translate(11.367) rotate(90)"/>
              </svg>
            </button>
        </div>
    </div>
</div>
