<div class="dot-buttons">
    <ul class="d-flex justify-content-md-end align-items-center mb-lg-0">
        <li *ngIf="variable.test_res && (title() == 'Test order webhook')">
            <form class="form-inline mr-2 d-block d-md-flex">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck" (change)="subscribe=!subscribe" [checked]="subscribe==true">
                  <label class="custom-control-label font12 pt-1" for="customCheck">Use the same URL to subscribe</label>
                </div>
              </form>
        </li>
        <li *ngIf="title()=='Subscribe to order webhook'">
            <button class="btn" (click)="openModal(template1)" 
            [disabled]="!variable.callback?true:false" [ngClass]="!variable.callback?'disable-default':'btn-default'">
                Save & finish later
            </button>
        </li>
        <li *ngIf="(title()!='Subscribe to order webhook')">
            <button class="btn mr-2 mr-md-0" [disabled]="(title() == 'Test order webhook')&& !subscribe?true:false"
                [ngClass]="(title() == 'Test order webhook')?(!variable.test_res || !subscribe ?'disable-default':'btn-default'):'btn-primary'"
                routerLink="/webhooks/subscribe-order//{{variable.selectedWebhook.id}}" [disabled]="!subscribe && !variable.test_res">
                Subscribe
            </button>
        </li>
        <li>
            <button class="btn"
                [disabled]="(title() != 'Webhooks') && !variable.callback?true:false"
                [ngClass]="(title() != 'Test order webhook')?((title() != 'Webhooks') && !variable.callback?'disable-default':'btn-default'):'btn-primary test_color'" (click)="test()">
                {{(variable.test_res && (title() == 'Test order webhook') || variable.subscribe_res && (title() == 'Subscribe to order webhook')  )?'Retest':'Test'}}
            </button>
        </li>
        <li *ngIf="(title()=='Subscribe to order webhook')">
            <button class="btn ml-md-2" routerLink="/webhooks/congrats" [ngClass]="!variable.subscribe_res?'btn-primary':'btn-primary'" [disabled]="!variable.subscribe_res?true:false">
                Activate
            </button>
        </li>
        <!-- <li>
            <button class="btn btn-primary" routerLink="/webhooks/subscribe-order">
                Publish
            </button>
        </li> -->
        <li *ngIf="title()=='Webhooks'">
            <button class="btn btn-default">
                <i class="fas fa-ellipsis-h"></i>
            </button>
        </li>
    </ul>
</div>


<div class="modalSave">
    <ng-template #template1>
        <div class="modal-header">
        <h2 class="modal-title pull-left font16 font-weight-bold">Are you sure you want to save and finish later?</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true"><i class="lni lni-close font16"></i></span>
        </button>
        </div>
        <div class="modal-body">
        <p>You still can see and complete your unpublished subscriptions from the subscription page.</p>
    
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default cancel border" aria-label="Close"
            (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Yes</button>
        </div>
    </ng-template>
</div>