.mat-toolbar {
  margin-bottom: 20px;
  margin-top: 10px;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
}

.breadcrumb:first-child:before {
  display: none;
}

.breadcrumb:before {
  /* content: '\276F'; */
  content: url("../../../../assets/images/Chevron.svg");
  vertical-align: top;
  display: inline-block;
  margin: 0 10px;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-text-color);
  font-size: 11px;
}

.breadcrumb span a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

.breadcrumb span:last-child a {
  color: var(--primary-text-color);
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  min-width: 35px !important;
  padding: 0 !important;
}