.webhook-menu {
  margin: 15px 0px;
}

.webhook-menu ul li a {
  display: block;
  padding: 12px 18px;
  color: var(--primary-text-color);
  font-size: 12px;
  text-decoration: none;
}

.webhook-menu ul li .active {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
}
