<app-title [headerTitle]="title()"></app-title>

<div class="row ml-0 mr-0">
  <div class="col-md-6">
    <app-webhook-title></app-webhook-title>
  </div>
  <div class="col-md-6">
    <div class="dot-buttons">
      <ul class="d-flex justify-content-md-end align-items-center mb-lg-0">
        <li>
          <span class="text-danger">{{subscription?.statusUpdate?.status}}</span>
        </li>
        <li>
          <button (click)="createSubscription()"
                  [disabled]="!canBeSaved"
                  [class.btn-default]="canBeSaved"
                  [class.disable-default]="!canBeSaved"
                  class="btn">
            Save
          </button>
        </li>
        <li>
          <button (click)="validate()"
                  [disabled]="!canBeValidated"
                  [class.btn-default]="canBeValidated"
                  [class.disable-default]="!canBeValidated"
                  [ngClass]="canBeValidated ? 'btn-default' : 'disable-default'"
                  class="btn">
            {{hasResponse ? 'Retest' : 'Test'}}
          </button>
        </li>
        <li>
          <button (click)="activate()"
                  [disabled]="!canBeActivated"
                  [class.btn-primary]="canBeActivated"
                  [class.disable-primary]="!canBeActivated"
                  class="btn ml-md-2">
            Activate
          </button>
        </li>
        <li>
          <app-dot-menu></app-dot-menu>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row ml-0 mr-0">
  <div class="col-lg-12">
    <app-webhook-rate-sub-links></app-webhook-rate-sub-links>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 pr-lg-0">
      <app-application #applicationComponent></app-application>
      <app-callback #callbackComponent></app-callback>
      <app-response #responseComponent></app-response>
    </div>
    <div class="col-lg-6 pl-lg-0 pr-lg-0 mt-2 mt-lg-0">
      <app-request-example [webhook]="webhook" #requestExampleComponent></app-request-example>
    </div>
  </div>
</div>
