<app-title [headerTitle]="title()"></app-title>

<div class="row ml-0 mr-0">
  <div class="col-md-6">
    <app-order-title></app-order-title>
  </div>
  <div class="col-md-6">
    <div class="dot-buttons">
      <ul class="d-flex justify-content-md-end align-items-center mb-lg-0">
        <li>
          <button class="btn"
                  (click)="createSubscription()"
                  [disabled]="!canBeSaved"
                  [ngClass]="canBeSaved ? 'btn-default' : 'disable-default'">
            Save
          </button>
        </li>
        <li>
          <button class="btn"
                  [disabled]="!canBeValidated"
                  [ngClass]="canBeValidated ? 'btn-default' : 'disable-default'"
                  (click)="test()">
            {{hasResponse ? 'Retest' : 'Test'}}
          </button>
        </li>
        <li>
          <button class="btn ml-md-2" routerLink="/webhooks/congrats"
                  [ngClass]="!hasResponse ? 'disable-primary' : 'btn-primary'"
                  [disabled]="!hasResponse">
            Activate
          </button>
        </li>
        <li>
          <app-dot-menu></app-dot-menu>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row ml-0 mr-0">
  <div class="col-lg-12">
    <app-order-rate-sub-links></app-order-rate-sub-links>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 pr-lg-0">
      <app-application #applicationComponent></app-application>
      <app-callback #callbackComponent></app-callback>
      <app-response #responseComponent></app-response>
    </div>
    <div class="col-lg-6 pl-lg-0 pr-lg-0 mt-2 mt-lg-0">
      <app-request-example #requestExampleComponent></app-request-example>
    </div>
  </div>
</div>
