<div class="row">
    <div class="col-md-6">
        <app-order-title></app-order-title>
    </div>
    <div class="col-md-6">
        <app-sub-test-dot-buttons></app-sub-test-dot-buttons>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <app-order-rate-sub-links></app-order-rate-sub-links>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <app-order-menu></app-order-menu>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>



