<div class="row">
  <div class="col-md-6">
    <app-order-title></app-order-title>
  </div>
  <div class="col-md-6">
    <div class="dot-buttons">
      <ul class="d-flex justify-content-md-end align-items-center mb-lg-0">
        <li>
          <button class="btn mr-2 mr-md-0 btn-primary" routerLink="/webhooks/subscribe-webhook">
            Subscribe
          </button>
        </li>
        <li>
          <button class="btn btn-default" routerLink="/webhooks/callback-test">
            Test
          </button>
        </li>
        <li class="px-2">
          <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
            <img src="/assets/images/provider-menu.svg" alt="menu">
          </a>
          <div class="dropdown-menu dropdown-menu-right px-2">
            <ul class="nav-vertical nav-small">
              <li class="nav-item">
                <a *ngFor="let menuItem of menuItems" href="javascript:void(0)" class="nav-link" (click)="handle(menuItem)">{{menuItem.item}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-order-rate-sub-links></app-order-rate-sub-links>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-order-menu></app-order-menu>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>



