<div *ngIf="webhookGroup.hasSecuritySchema" id="security-accordion">
  <div class="card">
    <div class="card-header" id="security-sub-heading-1">
      <a data-toggle="collapse" href="#security-main-collapse">Callback Security Options</a>
    </div>
    <div class="collapse" data-parent="#security-accordion" id="security-main-collapse">
      <div class="card-body">
        <div id="security-sub-accordion-1">
          <div *ngFor="let item of webhookGroup.securityOptions;let i=index;" class="card">
            <div class="card-header" id="security-heading-{{item.name}}-{{i}}">
              <a class="collapsed font14 font-weight-600" data-toggle="collapse"
                 href="#security-sub-heading-collapse-{{item.name}}-{{i}}">{{item.name}}</a>
            </div>
            <div class="collapse" data-parent="#security-sub-accordion-1" id="security-sub-heading-collapse-{{item.name}}-{{i}}">
              <div class="card-body">
                <div class="authorization">
                  <div *ngFor="let prop of securityKeys(item.name)" class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">{{prop}}</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">{{securityValue(item, prop)}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
