.security-option h3 {
  font-size: 16px;
  font-weight: 700;
}

.security-option .table {
  color: var(--primary-text-color);
  border: 1px solid #dee2e6 !important;
}

.security-option .table th {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #dee2e6 !important;
  border-top: 0;
}

.security-option .table td {
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle !important;
}


#security-accordion a {
  text-decoration: none;
}

#security-accordion .card {
  border: 0;
  background-color: transparent;
}

#security-accordion .card .card-header {
  padding: 0;
  background-color: transparent;
  border: 0;
}

#security-accordion .card .card-header a {
  display: block;
  font-size: 16px;
  text-align: left;
  color: var(--primary-text-color);
  font-weight: normal;
  padding: 9px 15px;
}

#security-main-collapse .card-body {
  padding: 0rem !important;
  padding-left: 22px !important;
}

#security-accordion .card .card-header a:after {
  /* content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; */
  content: url("../../../../../../../../assets/images/Chevron.svg");
  float: left;
  width: 21px;
  margin-top: -3px;
}

#security-accordion .card .card-header a.active {
  font-weight: 700;
}

#security-accordion .card .card-header a.active:after {
  /* content: "\f107"; */
  content: url("../../../../../../../../assets/images/Chevron_down.svg");
}

.col-2-set {
  display: inline-flex;
  padding: 0.5rem 0;
  width: 100%;
}

.col-2-set div:first-child {
  flex: 0 0 15%;
  max-width: 15%;
}

.col-2-set div:last-child {
  flex: 0 0 85%;
  max-width: 85%;
}

.tree-view {
  position: relative;
  padding-left: 20px;
}

.tree-view:before {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 1px solid #E5E5E5;
  left: 0;
  top: 0;
}

.tree-view:last-child:before {
  height: 16px;
}

.tree-view:after {
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  top: 16px;
  background-color: #E5E5E5;
  left: 0;
}

@media (max-width: 1024px) {
  .col-2-set div:first-child {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-2-set div:last-child {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .col-2-set div:last-child {
    padding-left: 12px;
  }

  #security-accordion .card .card-header a {
    padding: 8px 0px;
  }

  #security-main-collapse .card-body {
    padding: 0rem !important;
    padding-left: 9px !important;
  }
}

