
    <div class="support">
    <div class="row">
        <div class="col-lg-7 mb-3">
            <p>If you have questions or just want to get in touch, please use the form below. We look forward to hearing from you!</p>
            <form>
                <div class="form-group">
                  <label for="support-name">Your name</label>
                  <input type="text" class="form-control" id="support-name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="support-email">Your email</label>
                  <input type="email" class="form-control" id="support-email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="support-message">Your message</label>
                    <textarea class="form-control" id="support-message" rows="5" placeholder="Message"></textarea>
                  </div>
                <button type="submit" class="btn btn-default font14 font-weight-400">Send</button>
              </form>
        </div>
    </div>
</div>
