<form>
  <div class="modal-header">
    <h2 class="modal-title pull-left font16 font-weight-bold">Create new Callback URL</h2>
    <button (click)="modalService.hide()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true"><i class="lni lni-close font16"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <b>{{selectedApplication?.name}}</b>
    <app-callback-url [callback]="callback" #callbackComponent></app-callback-url>
  </div>
  <div class="modal-footer">
    <button (click)="modalService.hide()" aria-label="Close" class="btn btn-default cancel border"
            type="button">Cancel
    </button>
    <button (click)="create()" class="btn btn-primary" type="button">{{buttonTitle}}</button>
  </div>
</form>
