<form>
  <div class="modal-header">
    <h2 class="modal-title pull-left font16 font-weight-bold">Create new Callback URL</h2>
    <button (click)="modalService.hide()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true"><i class="lni lni-close font16"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <b>{{selectedApplication?.name}}</b>
    <app-callback-url [callback]="callback" #callbackComponent></app-callback-url>
  </div>
  <div class="modal-footer">
    <ngb-alert [dismissible]="false" type="warning" *ngIf="hasActiveSubscriptions">
      There {{hasMoreThanOnOtherActiveSubscription ? "are" : "is"}}
      <strong>{{hasMoreThanOnOtherActiveSubscription ? numberOfOtherSubscriptionsSharingCallback : ""}}</strong>
      {{hasMoreThanOnOtherActiveSubscription ? "other" : "another"}}
      active subscription{{hasMoreThanOnOtherActiveSubscription ? "s" : ""}} using same callback!
      Updating the details impacts other active subscriptions
    </ngb-alert>
    <button (click)="modalService.hide()" aria-label="Close" class="btn btn-default cancel border"
            type="button">Cancel
    </button>
    <button (click)="create()" class="btn btn-primary" type="button">{{buttonTitle}}</button>
  </div>
</form>
