<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!--suppress CheckImageSize -->
  <a routerLink="home" routerLinkActive="active">
    <img
      width="100"
      alt="Webhookie Logo"
      src="assets/images/logo.png"
    />
  </a>
  <div class="spacer"></div>
  <a routerLink="webhooks" routerLinkActive="active">Webhooks</a>&nbsp; | &nbsp;
  <a routerLink="subscriptions" routerLinkActive="active">Subscriptions</a>&nbsp; | &nbsp;
  <a routerLink="audit" routerLinkActive="active">Audit Log</a>&nbsp;
  <div class="spacer"></div>

  <div *ngIf="loggedIn">
    <button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!loggedIn">
    <button (click)="login()">Login</button>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>


