<div class="call-back-url">
    <fieldset>
    <h4 class="font14 font-weight-400">Callback URL</h4>
    <form class="form-inline">
        <select class="form-select form-control mr-2" aria-label="Default select example">
            <option selected>Post</option>
            <option value="1">Get</option>
            <option value="2">None</option>
          </select>
          <div class="form-group">
            <input type="text" class="form-control" value="https://www.volvocars.com/se">
          </div>
      
      </form>
    </fieldset>
</div>


  