<div class="call-back-url border-top">
  <fieldset class="p-3 mt-3 mr-lg-3">
    <form>
      <h4 class="font14 font-weight-400">Callback URL</h4>
      <div class="form-row">
        <div class="form-group col-md-2">
          <select class="custom-select text-uppercase">
            <option selected>Post</option>
            <option>Get</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" value="https://www.volvocars.com/se">
        </div>
      </div>
      <h4 class="font14 font-weight-400">Security</h4>
        <div class="custom-control custom-radio custom-control-inline security-label" *ngFor="let s of securityArr">  
          <input class="custom-control-input" id="{{s}}" type="radio" name="security" (change)="security=s" [disabled]="s=='API key'" [checked]="security==s">
          <label class="custom-control-label font12 pt-1" for="{{s}}">{{s}}</label>
        </div>       
      <div class="test-order-key" *ngIf="security=='HMAC Signature'">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label class="font14 font-weight-400 mb-1">Key ID</label>
          <input type="text" class="form-control" value="Key ID example">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label class="font14 font-weight-400 mb-1">Secret API Key</label>
          <input type="text" class="form-control" value="Secret API Key example">
        </div>
      </div>
    </div>
    </form>
  </fieldset>
</div>