/* Modal */
.modal-header, .modal-footer{
    border: 0px;
}
.modal-body{
    padding: 0rem 1.1rem !important;
}

.modal-body input{
    height: 32px;
}

::placeholder{
    font-size: 12px;
    color: #253858;
}
.modal-body .btn-warning{
    background-color: transparent;
    color: #253858;
    border-color: #E1E1E1;
}
.form-control{
    border:1px solid #e1e1e1;
    font-size: 12px;
    color: #253858;
}
.form-control:focus{
    box-shadow: none;
    border:1px solid #e1e1e1;
}
.dropdown-toggle:focus{
    box-shadow: none;
    border:1px solid #e1e1e1;
}
.modal-body .btn-warning:focus {
    box-shadow: none !important;
    border-color: #e1e1e1;
}
.modal-footer .btn {
    padding: 4px 12px;
}
.consumer-value ul{
    list-style-type:none;
    padding: 0;
}
.consumer-value ul li{
    margin-right: 8px;
    background-color: #F4F5F7;
    border-radius: 16px;
    padding: 2px 6px;
    font-size: 14px;
    border: 1px solid #E1E1E1;
}
.consumer-value li a{
   text-decoration: none;
   color: #0A1E42;
}
.multi-select-dropdown{
    font-size:14px;
}
.multi-select-dropdown .custom-checkbox{
    margin:3px 10px;
    cursor: pointer;
}
.multi-select-dropdown .custom-checkbox label{
    cursor: pointer;
}
.multi-select-dropdown .custom-checkbox input{
    height:auto !important;
}
.multi-select-dropdown .custom-control-label::before{
    border-color: #B2B2B2;
}
.multi-select-dropdown .custom-control-input:checked~.custom-control-label::before{
    border-color: #007bff;
}
.multi-select-dropdown .custom-checkbox .custom-control-label::before {
    border-radius: 0;
}
.scrollable-list{
    max-height:250px;
    overflow:auto;
}
.scrollable-list::-webkit-scrollbar {
    width: 8px;
}
.scrollable-list::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: #E1E1E1; 
}

