<form>
  <div class="modal-header">
    <h2 class="modal-title pull-left font16 font-weight-bold">Create new application</h2>
    <button (click)="modalService.hide()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true"><i class="lni lni-close font16"></i></span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="font14 font-weight-400" for="name">Application name</label>
      <input [(ngModel)]="requestedName" class="form-control" id="name" name="name" placeholder="Your Application"
             type="text">
    </div>
    <div class="form-group">
      <label class="font14 font-weight-400" for="Description">Description</label>
      <textarea [(ngModel)]="requestedDesc" class="form-control" id="Description" name="desc" placeholder="Description"
                rows="4"></textarea>
    </div>
    <app-multi-select
      #groupsComponent
      id="create-application-groups-id"
      [entries]="groups"
      title="Consumer groups"
      [show]="true"
    >
    </app-multi-select>
  </div>
  <div class="modal-footer">
    <button (click)="modalService.hide()" aria-label="Close" class="btn btn-default cancel border"
            type="button">Cancel
    </button>
    <button (click)="createApplication()" class="btn btn-primary" type="button">Create</button>
  </div>
</form>
