.dropdown-menu.show {

    border-color: #e1e1e1;

    box-shadow: -1px 1px 7px #00000029;

    border-radius: 0;

    top: 2px !important;

    padding: 12px;

    width: 200px;

}
.multi-select-dropdown .custom-checkbox, .multi-select-dropdown .custom-checkbox label {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.custom-control-label::before {

    border-radius: 1px !important;

}

.dropdown-toggle::after {

    content: url("../../../../assets/images/Chevron_down.svg");

    border: none;

}

.dropdown-toggle.active:after{

    content: url("../../../../assets/images/Chevron_down.svg");

} 

.mw-180 {
    min-width: 180px;
}
.dropdown.show {
    z-index: 16 !important;
}
.dropdown-toggle::after {
    float: right;
}
.search-small .form-control {
    font-size: 14px;
    padding: 4px 10px;
    height: auto;
    border-color: #E1E1E1;
}
.search-small .input-group-text {
    border-color: #E1E1E1;
    color: #0A1E42 !important;
}
.dropdown-menu a {
    color: #242424;
    padding: 4px 0px 4px 11px;
}