
    <div class="row mb-3 align-items-center">
      <div class="col-md-6">
        <h4 class="font20 font-weight-bold">
          <a href="javascript:void(0)" 
            class="administration-menu-toggle d-inline-block d-md-none"><i class="fas text-primary fa-grip-lines" aria-hidden="true"></i>
          </a>
          Consumer groups</h4>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="#" class="btn btn-primary">Create a new group</a>
      </div>
    </div>
    <div class="common-table">
      <div class="table-responsive sticky-table sticky-ltr-cells">
        <table class="table table-borderless border-0">
          <thead class="font14 font-weight-600">
            <tr class="sticky-header">
              <th scope="col" class="text-nowrap">Name
                <a href="#"><img src="assets/images/Double_chevron.svg"></a>
              </th>
              <th scope="col" class="text-nowrap">Description
                <a href="#"><img src="assets/images/Double_chevron.svg"></a>
              </th>
              <th scope="col" class="text-nowrap">IAM Group name
                <a href="#"><img src="assets/images/Double_chevron.svg"></a>
              </th>
              <th scope="col" class="filter text-center sticky-cell-opposite table-filters-collapse border-left">
                <a data-toggle="collapse" href="#filters_collapse_wrapper" class="clickable">
                  <img src="assets/images/Filter.svg" class="ml-0">
                </a>
              </th>
            </tr>
          </thead>
          <!-- body start -->
          <tbody>
            <tr class="filter-dropdown" class="collapse" id="filters_collapse_wrapper">
              <td>
                <form class="form-inline search-small">
                  <div class="input-group mw-180">
                    <input type="text" placeholder="Search..." class="form-control border-right-0">
                    <div class="input-group-append">
                      <a href="#" class="input-group-text bg-white px-2"><i class="lni lni-search-alt"></i></a>
                    </div>
                  </div>
                </form>
              </td>
              <td>
                <form class="form-inline search-small">
                  <div class="input-group mw-180">
                    <input type="text" placeholder="Search..." class="form-control border-right-0">
                    <div class="input-group-append">
                      <a href="#" class="input-group-text bg-white px-2"><i class="lni lni-search-alt"></i></a>
                    </div>
                  </div>
                </form>
              </td>
              <td>
                <form class="form-inline search-small">
                  <div class="input-group mw-180">
                    <input type="text" placeholder="Search..." class="form-control border-right-0">
                    <div class="input-group-append">
                      <a href="#" class="input-group-text bg-white px-2"><i class="lni lni-search-alt"></i></a>
                    </div>
                  </div>
                </form>
              </td>
              <td>&nbsp;</td>
            </tr>
            <tr class="sticky-header">
              <td>Order management</td>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry’s standard</td>
              <td>Name</td>
              <td class="dropdown text-center sticky-cell-opposite">
                <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
                  <img src="assets/images/provider-menu.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
                  <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="sticky-header">
              <td>Product catalog</td>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry’s standard</td>
              <td>Name</td>
              <td class="dropdown text-center sticky-cell-opposite">
                <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
                  <img src="assets/images/provider-menu.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
                  <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="sticky-header">
              <td>Order management</td>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry’s standard</td>
              <td>Name</td>
              <td class="dropdown text-center sticky-cell-opposite">
                <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
                  <img src="assets/images/provider-menu.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
                  <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="sticky-header">
              <td>Product catalog</td>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry’s standard</td>
              <td>Name</td>
              <td class="dropdown text-center sticky-cell-opposite">
                <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
                  <img src="assets/images/provider-menu.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
                  <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="sticky-header">
              <td>Order management</td>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry’s standard</td>
              <td>Name</td>
              <td class="dropdown text-center sticky-cell-opposite">
                <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
                  <img src="assets/images/provider-menu.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
                  <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="sticky-header">
              <td>Product catalog</td>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry’s standard</td>
              <td>Name</td>
              <td class="dropdown text-center sticky-cell-opposite">
                <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
                  <img src="assets/images/provider-menu.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
                  <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="sticky-header">
              <td>Order management</td>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry’s standard</td>
              <td>Name</td>
              <td class="dropdown text-center sticky-cell-opposite">
                <a href="#" class="dropdown-toggle hide-after" data-toggle="dropdown">
                  <img src="assets/images/provider-menu.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-small px-2">
                  <ul class="nav-vertical nav-small">
                    <li class="nav-item"><a href="#" class="nav-link">Edit</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <!-- body-close -->
        </table>
      </div>
    </div>
