<div class="row mb-3 align-items-center">
  <div class="col-md-6">
    <h4 class="font20 font-weight-bold">
      <a href="javascript:void(0)" class="administration-menu-toggle d-inline-block d-md-none">
        <i class="fas text-primary fa-grip-lines" aria-hidden="true"></i>
      </a>
      {{type}} groups
    </h4>
  </div>
  <div class="col-md-6 text-md-right">
    <button (click)="modalService.open(createGroupTemplate)" class="btn btn-primary">
      <i class="lni lni-plus mr-2"></i>Create a new group
    </button>
  </div>
</div>
<app-generic-table
  #tableComponent
  [component]="this"
>
</app-generic-table>

<div class="modalSave">
  <ng-template #createGroupTemplate>
    <app-create-access-group [type]="type" [parent]="this"></app-create-access-group>
  </ng-template>
</div>

