.sort_icons{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sort_icons a, .sort_icons a i, .sort_icons a i::before {
    height: 8px;
    display: block;
    line-height: normal;
}
a:hover {
    text-decoration: none !important;
}
.rotate180{
    transform:rotate(180deg);
}