.sort_icons {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

span.sort_icons a:hover i:before {
    color: #0151CC;
}

.sort_icons>a, .sort_icons a>i, .sort_icons>a i::before {
    height: 6px;
    display: block;
    line-height: normal;
    color: #0A1E42;
    font-size: 12px;
    font-weight: 400;
}

a:hover {
    text-decoration: none !important;
}

.rotate180 {
    transform: rotate(180deg);
}