<span class="dropdown sort_icons">
  <a href="javascript:void(0)" id="ascDropdownMenu" data-toggle="dropdown">
    <i class="fa fa-fw fa-sort-asc"></i>
    <i class="fa fa-fw fa-sort-asc rotate180"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-small px-2">
    <ul class="nav-vertical nav-small font-weight-normal">
      <li class="nav-item">
        <a (click)="onAsc.emit()"  href="javascript:void(0)" class="nav-link">
          <img src="assets/images/Arrow_up.svg" class="ml-0 mr-1" alt="asc">Sort A to Z
        </a>
      </li>
      <li class="nav-item">
        <a (click)="onDesc.emit()" href="javascript:void(0)" class="nav-link">
          <img src="assets/images/Arrow_Down.svg" class="ml-0 mr-1" alt="desc">Sort Z to A
        </a>
      </li>
    </ul>
  </div>
</span>
