<section class="background py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h2 class="font35 font-weight-bold">Webhooks</h2>
                <h5 class="font20 font-weight-600 mt-3 mt-md-5">Seems like our webhook aquarium is empty right now!</h5>
                <p class="font16">As soon as some webhooks are created we’ll start showing the webhook groups here!</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="assets/images/Group 7857.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>