/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    font-family: 'Open Sans', sans-serif !important;
    font-size:14px;
    color: #0A1E42;
}
p{
    font-size:14px;
    /* color:#253858; */
    color: #0A1E42;
}
h1{
    font-size: 35px;
    font-weight: bold;
    color: #0A1E42;
}
.shadow-sm {
    box-shadow: 0px 2px 10px #00000029 !important;
}
.btn {
    font-size: 14px;
    padding: 6px 12px;
    font-weight: 600;
    color: #0A1E42;
}
.btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 transparent;
}
.btn-primary {
    color: #fff;
    background: #0151CC;
    border-color: #0151CC;
}
.btn-primary:hover {
    color: #fff;
    background: #0151CC;
    border-color: #0151CC;
}
.btn-primary-gradient {
    color: #fff;
    background: linear-gradient(90deg, rgba(1, 81, 204, 1) 0%, rgba(0, 145, 215, 1) 37%, rgba(0, 180, 245, 1) 100%);
    border: 0;
}
.btn-primary-gradient:hover {
    color: #fff;
    background: linear-gradient(90deg, rgba(1, 81, 204, 1) 0%, rgba(1, 81, 204, 1) 37%, rgba(1, 81, 204, 1) 100%);
}
#page-content-wrapper{
    margin-left:15px;
}
.menu-toggle.slide {
    margin-right: -47px;
    margin-top: -14px;
    z-index: 999;
}
.font-weight-600{
    font-weight:600 !important;
}
.font-weight-400{
    font-weight:400 !important;
}
.font11{
    font-size:11px !important;
    line-height: normal;
}
.font12{
    font-size:12px !important;
    line-height: normal;
}
.font14{
    font-size:14px !important;
}
.font16{
    font-size: 16px !important;
}
.font20{
    font-size: 20px !important;
}

.light-mode span.key {
    color: #1A73E8 !important;
}
.light-mode.dark-mode-active span.key {
    color: #A0E3FF !important;
}
.number, .boolean, .string, .null[contenteditable]:focus {
    outline: none;
}
@media (max-width: 1024px) {
    h1{
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    h1{
        font-size: 23px;
    }
    .disable-scroll-on-mobile {
        overflow: hidden;
    }
    .responsive-close {
            width: 10px;
    }
    #sidebar-wrapper {
        position: fixed;
        z-index: 99999;
        top: 60px;
        overflow: auto;
        height: calc(100vh - 60px);
        padding-bottom: 1rem;
        min-height: auto !important;
    }
    #page-content-wrapper{
        margin-left:0px;
    }
    .menu-toggle.slide {
        margin-right: 0px;
        margin-top: 0px;
    }
}