/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

:root {
  --color-white:#fff;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    color: var(--primary-text-color);
}
webhookie-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
app-footer {
    margin-top: auto;
}
p {
    font-size: 14px;
    color: var(--primary-text-color);
}

pre {
    font-family: 'Open Sans', sans-serif !important;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.bg-light-gray {
    background-color: #F4F5F7 !important
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.shadow-sm {
    box-shadow: 0px 2px 10px #00000029 !important;
}

.btn {
    font-size: 14px;
    padding: 5px 12px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 transparent;
}

.btn-primary {
    color: var(--color-white);
    background: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 400;
}

.btn-primary.disabled, .btn-primary:disabled {
  border-color: var(--primary-dark-color);
}

.btn-primary:hover {
    color: var(--color-white);
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary-gradient {
    color: var(--color-white);
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 37%, var(--primary-color) 100%);
    border: 0;
}

.btn-primary-gradient:hover {
    color: var(--color-white);
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 37%, var(--primary-color) 100%);
}

.text-primary{
    color:var(--primary-color) !important;
}
.text-dark-blue{
    color:#253858;
}
#page-content-wrapper {
    margin-left: 15px;
}

.menu-toggle.slide {
    margin-right: -47px;
    margin-top: -14px;
    z-index: 999;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font11 {
    font-size: 11px !important;
    line-height: normal;
}

.font12 {
    font-size: 12px !important;
    line-height: normal;
}

.font14 {
    font-size: 14px !important;
}

.font16 {
    font-size: 16px !important;
}

.font20 {
    font-size: 20px !important;
}

.font35 {
    font-size: 35px !important;
}

.light-mode span.key {
    color: var(--secondary-color) !important;
}

.light-mode.dark-mode-active span.key {
    color: #A0E3FF !important;
}

.number, .boolean, .string, .null[contenteditable]:focus {
    outline: none;
}

/* .w-g-input{
    display: flex;
    align-items: baseline;
} */

.modal.fade.show {
    background-color: rgb(0, 0, 0, 0.8);
}

.modal-content {
    border:0;
    border-radius: 0px;
    margin: 0 auto;
}

.modalSave .modal-dailog {
    align-items: center !important;
}

.modal-dialog {
    max-width: 380px;
}

.large-modal {
    max-width: 480px;
}

.x-large-modal {
    max-width: 768px;
}
.popup-6x4 {
    max-width: 600px;
}
.popup-6x4 .modal-content{
    height:400px;
    overflow:auto;
}

.hide-after::after {
    content: "";
    display: none;
}

.rotate-90 {
    transform: rotate(90deg);
}

.dropdown-menu-small {
    width: auto !important;
    min-width: 100px;
}

.nav-vertical {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-vertical .nav-item .nav-link {
    padding: 0.2rem 0.5rem!important;
    color: #242424 !important;
}

.nav-vertical.nav-small .nav-link {
    font-size: 13px;
}

.btn-xs {
    font-size: 12px;
}

.btn-bordered {
    border: 1px solid #E1E1E1;
    background-color: var(--color-white);
    font-weight: normal;
    color: var(--primary-dark-color);
}

.multi-select-dropdown {
    font-size: 14px;
}

.dropdown-toggle::after {
    float: right;
    content: url(assets/images/Chevron_down.svg);
    border: none;
}

.search-small .form-control {
    font-size: 14px;
    padding: 4px 10px;
    height: auto;
    border-color: #E1E1E1;
}

.dropdown.show {
    z-index: 16 !important;
}

.search-small .input-group-text {
    border-color: #E1E1E1;
    color: var(--primary-text-color) !important;
}

#filters_collapse_wrapper, .table-filters-collapse.active {
    background-color: #F4F5F7 !important;
}

.multi-select-dropdown .custom-checkbox, .multi-select-dropdown .custom-checkbox label {
    cursor: pointer;
    user-select: none;
}

.bs-datepicker-container {
    padding: 0;
}

.bs-datepicker {
    box-shadow: 0 0 10px 0 #d4d4d4;
}

.theme-green .bs-datepicker-head {
    background-color: var(--color-white);
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: var(--primary-color);
}

.bs-datepicker-body tbody tr td:first-child, .bs-datepicker-body thead tr th:first-child {
    display: none;
}

.bs-datepicker-head button {
    color: #000;
}

.bs-datepicker-body {
    border: 0;
}

.bs-datepicker-head {
    height: 30px;
    padding: 5px 0 0 0;
}

.bs-datepicker-head button.current {
    font-weight: 600;
}

.bs-datepicker-body table th {
    font-size: 12px;
    color: #6A6A6A;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.bs-datepicker-head button.next span, .bs-datepicker-head button.previous span {
    line-height: 25px;
}

.bs-datepicker-body table td {
    color: #242424;
}

.bs-datepicker-body table td span {
    font-size: 14px;
    border-radius: 0;
}

.popover {
    border-radius: 0;
    background: var(--color-white);
    box-shadow: 0 0 10px 0 #d4d4d4;
    border: 0;
}

.popover-body {
    padding: 0;
}

.popover-body .btn {
    padding: 0;
}

.bs-timepicker-field {
    width: 50px !important;
}

.popover .arrow {
    display: none;
}

.bs-popover-bottom {
    margin-top: 0.2rem;
}

.mw-180 {
    min-width: 180px;
}

.date_wrapper {
    width: 140px !important;
}

.time_wrapper {
    min-width: 100px;
}

.to {
    width: 34px;
}

.webhook-items-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}

.webhook-items-ul li {
    display: block;
    margin: 0 7px;
    font-weight: 600;
    font-size: 12px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--color-white);
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 2px solid var(--color-white);
}

.owl-theme .owl-dots .owl-dot span {
    margin: 3px;
}

.background {
    background-color: var(--background-color);
}
.common-table .table {
    color: var(--primary-text-color);
    border: 1px solid #E1E1E1;
}
.common-table .table .custom-control-label::before {
    border-radius: 1px !important;
    /* background-color:var(--main-color); */
}
.common-table .custom-control-label {
    margin-left: 0px;
}
.common-table .table thead th{
    border-bottom: 0px;
}
.common-table .table thead th img {
    margin-left: 5px;
}
.common-table .table tbody td a {
    color: var(--secondary-color);
    text-decoration: none;
}
.collapse-down{
    cursor: pointer;
}
.common-collapse th {
    border-top: 1px solid #e1e1e1 !important;
}
.common-collapse td{
    border:0px;
    padding: 16px;
    padding-top:0px;
}
.td_border{
    border-top: none;
}
/* dropdown */
.common-table ul{
    list-style-type:none;
    padding:0px;
}

.common-table .btn-warning{
    background-color: transparent;
    color: #253858;
    border-color: #E1E1E1;
    width:200px;
}
.common-table .btn-default{
    color: var(--secondary-color);
    padding: 0 6px;
}
.common-table .dropdown-menu a{
    color: #242424;
    padding: 4px 0px 4px 11px;
}
.common-table .dropdown-menu.show {
    border-color: #e1e1e1;
    box-shadow: -1px 1px 7px #00000029;
    border-radius: 0;
    top: 2px !important;
    padding: 12px;
    width: 200px;
}
.common-table .dropdown-toggle::after{
    content:url("assets/images/Chevron_down.svg");
  border: none;
}
.common-table .dropdown-toggle.active:after{
    /* content: "\f107"; */
    content: url("assets/images/Chevron_up.svg");
  }

/* designing */

.filter:active{
    background-color: #F4F5F7 !important;
}
.filter-dropdown{
    background-color: #F4F5F7;
}
.table-borderless td, .table-borderless th{
    border:0;
}
.table-borderless tr{
    border-top:1px solid #dee2e6;
}
.collapse-table{
    width: calc(100% - 5rem);
    margin-left: 5rem;
    border: 0;
}
.table-filters-collapse a {
    margin: -.75rem;
    padding: .75rem;
}
.rating{
    display:inline-block;
}
.rating i{
    margin:0 1.2px;
}
.rating .checked{
    color: var(--primary-color);
}
.form-custom-control{
    border:1px solid #E1E1E1;
    font-size:12px;
    line-height: normal;
    color:var(--primary-dark-color);
}
.dropdown-menu {
    border-color: #e1e1e1;
    box-shadow: -1px 1px 7px #00000029;
    border-radius: 0;
}
.main-wrapper{
    display:flex;
}
.main-wrapper .page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.colorpick color-presets-component {
    padding: 12px 7px !important;
}
.colorpick color-preset{
    border-radius: 6px !important;
    box-shadow: none;
}
.colorpick .reflection {
    background-color: transparent !important;
}

input:focus{
    border: 1px solid var(--secondary-color) !important;
    box-shadow: none !important;
}
.btn-warning.dropdown-toggle:focus{
    border: 1px solid var(--secondary-color) !important;
    box-shadow: none !important;
}
.dark-mode-active pre {
    color: var(--color-white) !important;
  }
  .dark-mode-active table{
    color: var(--color-white) !important;
  }

  .slide.slick-slide {
    padding: 0 10px;
}
.slick-dots li{
    margin:0;
    width:15px;
}
.slick-dots li.slick-active button:before {
    color: var(--color-white) !important;
    content: "\25CF" !important;
    opacity: 1 !important;
}
.slide:focus {
    outline: none;
}
.slide a:focus {
    outline: none;
}
.slide a:hover {
    text-decoration: none;
}
.slick-dots li button:before {
    content: "\25CB";
   font-size: 14px;
    color:var(--color-white);
    opacity: 1;
}
.slick-track {
    margin-left: 0 ;
    margin-right: 0;
}

.btn-primary-outline {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-primary-outline:hover {
    color: var(--primary-color);
}
.monaco-editor .view-overlays .focused {
    height: 1042px !important;
    min-height: 1042px !important;
    max-width: 1024px !important;
}


@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 23px;
    }
    .font35 {
        font-size: 26px !important;
    }
    .font16 {
        font-size: 14px !important;
    }
    .disable-scroll-on-mobile {
        overflow: hidden;
    }
    .responsive-close {
        width: 10px;
    }
    #sidebar-wrapper {
        position: fixed;
        z-index: 99999;
        top: 64px;
        overflow: auto;
        height: calc(100vh - 64px);
        padding-bottom: 1rem;
        min-height: auto !important;
    }
    #page-content-wrapper {
        margin-left: 0px;
    }
    .menu-toggle.slide {
        margin-right: 0px;
        margin-top: 0px;
    }
    .traffic-dropdowns ul {
        flex-wrap: wrap;
    }
    .traffic-dropdowns ul li {
        padding-right: 0;
        margin-bottom: 1rem;
        width: 100%;
    }
    .traffic-dropdowns .btn-warning {
        width: 100%;
    }
    .main-wrapper .page-content-wrapper {
        margin-left: 15px;
        margin-right: 15px;
    }
}

