<div id="body-accordion">
  <div class="card">
    <div class="card-header">
      <a data-toggle="collapse" href="#main-body-collapse">{{body.label}}</a>
    </div>
    <div class="collapse" data-parent="#body-accordion" id="main-body-collapse">
      <div class="card-body">
        <div id="body-accordion-1">
          <div *ngFor="let item of body.parent;let i=index;" class="card">
            <div class="card-header">
              <a class="collapsed" class="font14 font-weight-600" data-toggle="collapse"
                 href="#body-heading-collapse-{{i}}">
                {{item.label}}
                <span *ngIf="item.type" class="badge badge-primary ml-3 mr-2">
                  {{item.type}}
                </span>
                <span *ngIf="item.required==0" class="badge badge-warning">
                  OPTIONAL
                </span>
                <span *ngIf="item.required==1" class="badge badge-danger">
                  REQUIRE
                </span>
              </a>
            </div>
            <div class="collapse" data-parent="#body-accordion-1" id="body-heading-collapse-{{i}}">
              <div class="card-body">
                <div class="webhook webhook-view">
                  <div class="col-2-set">
                    <div>
                      <p class="font12 mb-0">{{item.message}}</p>
                    </div>
                  </div>
                  <!-- ..... -->
                  <div *ngFor="let child of item.child;let l=index;" class="card">
                    <div class="card-header">
                      <a class="collapsed" class="font12 font-weight-600" data-toggle="collapse"
                         href="#body-sub-collapse-{{l}}">
                        {{child.label}}
                        <span *ngIf="child.type" class="badge badge-primary ml-3 mr-2">
                          {{child.type}}
                        </span>
                        <span *ngIf="child.required==0" class="badge badge-warning ml-3 mr-2">
                          OPTIONAL
                        </span>
                        <span *ngIf="child.required==1" class="badge badge-danger ml-3 mr-2">
                          REQUIRE
                        </span>
                      </a>
                    </div>
                    <div *ngFor="let sub of child.sub_child" class="collapse" id="body-sub-collapse-{{l}}">
                      <div *ngIf="sub.label=='Value'" class="fixed-amount tree-view">
                        <div class="col-2-set">
                          <div>
                            <h5 class="font12 mb-0 font-weight-600">{{sub.label}}</h5>
                          </div>
                          <div>
                            <p class="font12 mb-0">
                              <span *ngIf="sub.type">{{sub.type}}</span>
                              <span *ngIf="sub.required==0" class="badge badge-warning ml-3 mr-2">
                                OPTIONAL
                              </span>
                              <span *ngIf="sub.required==1" class="badge badge-danger ml-3 mr-2">
                                REQUIRE
                              </span>
                            </p>
                          </div>
                        </div>
                        <div class="col-2-set">
                          <div>
                            <p class="font11 mb-0">{{sub.message}}</p>
                          </div>
                        </div>
                        <div class="col-2-set">
                          <div>
                            <h5 class="font11 mb-0 font-weight-600">Min value</h5>
                          </div>
                          <div>
                            <p class="font12 mb-0">{{sub.min_value}}</p>
                          </div>
                        </div>
                        <div class="col-2-set">
                          <div>
                            <h5 class="font11 mb-0 font-weight-600">Max value</h5>
                          </div>
                          <div>
                            <p class="font12 mb-0">{{sub.max_value}}</p>
                          </div>
                        </div>
                        <div class="col-2-set">
                          <div>
                            <h5 class="font11 mb-0 font-weight-600">Example</h5>
                          </div>
                          <div>
                            <p class="font12 mb-0">{{sub.example}}</p>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="sub.label=='Currency'" class="fixed-amount tree-view2">
                        <div class="col-2-set">
                          <div>
                            <h5 class="font12 mb-0 font-weight-600">{{sub.label}}</h5>
                          </div>
                        </div>
                        <div class="col-2-set">
                          <div>
                            <p class="font12 mb-0">{{sub.message}}</p>
                          </div>
                        </div>
                        <div class="col-2-set">
                          <div>
                            <h5 class="font11 mb-0 font-weight-600">Pattern {{sub.pattern}}</h5>
                          </div>
                        </div>
                        <div class="col-2-set">
                          <div>
                            <h5 class="font11 mb-0 font-weight-600">Example {{sub.example}}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
