<div class="user-rating">
    <ul class="d-flex align-items-center">
        <li>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked pr-2"></i>
            300
            <a href="#" class="pl-2 pr-2">Rate this webhook</a>
        </li>
        <li>
            <i class="fas fa-user pl-2 pr-2 border-left"></i>
            500 subscription
        </li>
    </ul>
<p>Subscribe to this Webhook to receive new orders when they are created.</p>
<div><a href="#">Terms of service</a></div>
<a href="#">License</a>
</div>