<div class="user-rating">
    <ul class="d-flex">
        <li>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked pr-1 pr-md-2"></i>
            300
            <a routerLink="/" class="pl-1 pl-md-2 pr-1 pr-md-2">Rate this webhook</a>
        </li>
        <li>
            <i class="fas fa-user pl-1 pl-md-2 pr-1 pr-md-2 border-left"></i>
            500 subscription
        </li>
    </ul>
    <div *ngIf="variable?.showText">
        <p class="font14 mb-1">{{variable.selectedTopic?.description}}</p>
        <div class="mt-1 mb-1"><a routerLink="/">Terms of service</a></div>
        <a routerLink="/">License</a>
    </div>
</div>
