.spec-editor-height {
  min-height:600px;
}

.create-webgroup pre{
border: 1px solid #e1e1e1;
padding: 10px;
color: #000;
font-size: 16px;
line-height: 2;
margin-right: 20px;
}
.editor-height{
    min-height: 1024px !important;
}
.dot-buttons ul{
list-style-type: none;
padding: 0;
}
.dot-buttons .btn-default{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.create-webgroup pre span{

color: var(--secondary-color);
}
.btn-primary {
  border: 1px solid #e1e1e1;
  color: var(--color-white);
  background: var(--primary-color)
}
.btn-primary:hover {
  color: var(--color-white);
  background: var(--primary-color)
}

.create-webgroup h4{
color: var(--primary-text-color);
}
.create-webgroup p{
color: var(--primary-text-color);
}
.consumer .btn-warning{
background-color: transparent;
color: #253858;
border-color: #E1E1E1;
}
.consumer .btn-default{
color: var(--secondary-color);
padding: 0 6px;
}
.consumer .dropdown-menu a{
color: #242424;
padding: 4px 0px 4px 11px;
}
.consumer .dropdown-menu.show {
border-color: #e1e1e1;
box-shadow: -2px 3px 10px #00000029;
border-radius:2px;
top: 2px !important;
padding-bottom: 0px;
}
.consumer .dropdown-toggle:focus {
border: 1px solid #006ADF;
box-shadow: none;
}
.consumer .dropdown-toggle:focus {
border: 1px solid #006ADF;
box-shadow: none;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 1px;
}
.custom-control-label::before{
    top:2px
}
.custom-control-label::after{
    top:2px
}
.consumer .dropdown-item:active {
color: var(--color-white) !important;
background-color: var(--primary-color) !important;
}
.consumer .dropdown-toggle::after{
content:url("../../../../../assets/images/Chevron_down.svg");
border: none;
padding-left: 4px;
}
.consumer .dropdown-toggle.active:after{
content: url("../../../../../assets/images/Chevron_up.svg");
padding-left: 4px;
}

@media (max-width: 992px) {
.create-webgroup pre{
font-size: 14px;
}
.font14{
font-size: 13px !important;
}
.font12{
font-size: 11px !important;
}
}



@media (max-width: 767px){
/* .font14{
font-size: 14px !important;
}
.font12{
font-size: 12px !important;
} */
.create-webgroup pre{
    margin-right: 0px;
    }
.consumer{
flex-direction: column;
margin-bottom: 15px;
}
}


