<section class="background pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="font35 font-weight-bold mb-4 mb-md-5">Why Webhooks?</h3>
            </div>
            <div class="col-md-4">
                <div class="media mb-3 mb-md-5">
                    <div class="media-left mr-3"><img src="assets/images/Group-7789.svg"></div>
                    <div class="media-body">
                        <h5 class="font20 font-weight-bold">Event driven Architecture</h5>
                        <p>No need to poll an API for changes, get the events when they occur.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media mb-3 mb-md-5">
                    <div class="media-left mr-3"><img src="assets/images/Group-7796.svg"></div>
                    <div class="media-body">
                        <h5 class="font20 font-weight-bold">Discoverable</h5>
                        <p>Check out our webhook gallery. Find the webhooks we have to offer, discover the model and subscribe. No expensive integration project.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media mb-3 mb-md-5">
                    <div class="media-left mr-3"><img src="assets/images/Integration-made-easy.svg"></div>
                    <div class="media-body">
                        <h5 class="font20 font-weight-bold">Integration made easy</h5>
                        <p>No need to deal with time consuming integration layers. Use our Webhooks just like you use APIs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media mb-3 mb-md-5">
                    <div class="media-left mr-3"><img src="assets/images/Group-7778.svg"></div>
                    <div class="media-body">
                        <h5 class="font20 font-weight-bold">Self managed Subscriptions</h5>
                        <p>No need to coordinate with other teams when updating your subscription details. Manage them yourself.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media mb-3 mb-md-5">
                    <div class="media-left mr-3"><img src="assets/images/Group-7797.svg"></div>
                    <div class="media-body">
                        <h5 class="font20 font-weight-bold">The future of B2B</h5>
                        <p>Need to integrate with partners, Webhooks are the perfect solution.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media mb-3 mb-md-5 ">
                    <div class="media-left mr-3"><img src="assets/images/Group-7838.svg"></div>
                    <div class="media-body">
                        <h5 class="font20 font-weight-bold">Guaranteed delivery</h5>
                        <p>Need to get the event no matter what. Our Webhook solution will deliver.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>