.ed-svg-a, .ed-svg-d, .ed-svg-e, .ed-svg-f {
  fill: var(--primary-color);
}

.ed-svg-b, .ed-svg-f {
  opacity: 0.1;
}

.ed-svg-c {
  fill: #fff;
}

.ed-svg-d {
  opacity: 0.372;
}

.ed-svg-e {
  opacity: 0.637;
}

.discoverable-svg-a, .discoverable-svg-b, .discoverable-svg-c {
  fill: var(--primary-color);
}

.discoverable-svg-a {
  opacity: 0.1;
}

.discoverable-svg-b {
  opacity: 0.372;
}

.discoverable-svg-c {
  stroke: rgba(0, 0, 0, 0);
  stroke-miterlimit: 10;
}


.integration-svg-a {
  fill: #fff;
}

.integration-svg-b, .integration-svg-c, .integration-svg-d, .integration-svg-e, .integration-svg-f {
  fill: var(--primary-color);
}

.integration-svg-c {
  opacity: 0.15;
}

.integration-svg-d {
  opacity: 0.1;
}

.integration-svg-e {
  opacity: 0.372;
}

.integration-svg-f {
  opacity: 0.2;
}


.self-managed-svg-a, .self-managed-svg-b, .self-managed-svg-c, .self-managed-svg-e {
  fill: var(--primary-color);
}

.self-managed-svg-b {
  opacity: 0.05;
}

.self-managed-svg-c {
  opacity: 0.372;
}

.self-managed-svg-d {
  fill: #fff;
}

.self-managed-svg-e {
  opacity: 0.1;
}

.b2b-svg-a, .b2b-svg-b, .b2b-svg-c, .b2b-svg-e {
  fill: var(--primary-color);
}

.b2b-svg-b, .b2b-svg-d {
  opacity: 0.1;
}

.b2b-svg-c {
  opacity: 0.372;
}

.b2b-svg-e {
  opacity: 0.3;
}

.delivery-svg-a, .delivery-svg-c, .delivery-svg-d, .delivery-svg-e {
  fill: var(--primary-color);
}

.delivery-svg-a {
  opacity: 0.1;
}

.delivery-svg-b {
  fill: #fff;
}

.delivery-svg-c {
  opacity: 0.372;
}

.delivery-svg-d {
  opacity: 0.2;
}

