<div class="media ml-2 profile-icon align-items-center">
    <div class="media-left mr-2">
        <img src="assets/images/pexels-photo-1080213@2x.png" class="img-fluid profile-image"/>
    </div>
    <div class="media-body">
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="d-none d-md-inline-block">John Perez</span></a>
            <div class="dropdown-menu dropdown-menu-right px-2">
                <ul class="nav-vertical nav-small">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">Account Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
