.profile-icon .dropdown-toggle {
  color: #253858;
  text-decoration: none;
  font-size: 13.5px;
}

.profile-image {
  width: 34px;
  height: 34px;
  object-fit: cover;
  color: var(--primary-color);
}

.profile-icon .dropdown-menu {
  top: 40px;
}
