<div class="media ml-2 profile-icon align-items-center" *ngIf="authService.loggedIn">
  <div class="media-body">
    <div class="dropdown">
      <a href="javascript:void(0)" data-toggle="dropdown">
        <ngx-avatar *ngIf="hasDetails" [src]="picture" [name]="name" [round]="true" size="34" [bgColor]="primaryColor"></ngx-avatar>
        <i *ngIf="!hasDetails"  class="fa fa-user-circle fa-2x img-fluid profile-image rounded-circle"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right px-2">
        <ul class="nav-vertical nav-small">
          <li class="nav-item">
            <a href="javascript:void(0)" (click)="showDetails()" class="nav-link">Account Details</a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" href="javascript:void(0)" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #resultViewer>
  <app-json-viewer></app-json-viewer>
</ng-template>
