<div *ngIf="webhook.hasHeaders" id="header-accordion">
  <div class="card">
    <div class="card-header" id="sub-heading-1">
      <a data-toggle="collapse" href="#main-collapse">Headers</a>
    </div>
    <div class="collapse" data-parent="#header-accordion" id="main-collapse">
      <div class="card-body">
        <div id="sub-accordion-1">
          <div *ngFor="let item of webhook.headers;let i=index;" class="card">
            <div class="card-header" id="heading-1-1">
              <a class="collapsed font14 font-weight-600" data-toggle="collapse"
                 href="#sub-heading-collapse-{{i}}">{{item.name}}</a>
            </div>
            <div class="collapse" data-parent="#sub-accordion-1" id="sub-heading-collapse-{{i}}">
              <div class="card-body">
                <div class="authorization">
                  <div *ngFor="let prop of headerKeys(item.name)" class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">{{prop}}</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">{{headerPropValue(item.name, prop)}}</p>
                    </div>
                  </div>
                  <div *ngIf="item.example" class="col-2-set tree-view">
                    <div>
                      <h5 class="font12 mb-0 font-weight-600">Example</h5>
                    </div>
                    <div>
                      <p class="font12 mb-0">{{item.example}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
