<div id="sidebar-nav">
    <div class="accordion" id="faq">
        <div class="card custom-accordion" *ngFor="let webhookGroup of _webhooks$.asObservable() | async;let i=index">
            <div class="card-header" id="faqhead{{i}}">
                <a href="#" class="btn btn-header-link" data-toggle="collapse" [ngClass]="webhookGroup.isShowing?'active':''"  (click)="show(webhookGroup)" [attr.data-target]="'#faq' + i"
                    aria-expanded="true" [attr.aria-controls]="'faq' + i" >{{webhookGroup.title}}</a>
            </div>

            <div id="faq{{i}}" [ngClass]="(webhookGroup == variable.selectedWebhook)?'show':'collapse'" data-parent="#faq">
                <ul class="navbar-nav">
                    <li class="nav-item" *ngFor="let topic of webhookGroup.topics" >
                        <a class="nav-link" [ngClass]="(topic==variable.selectedTopic)?'portionColor':''" routerLinkActive="active" (click)="variable.selectTopic(webhookGroup, topic)">
                            {{topic.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
