<div id="sidebar-nav">
  <ul class="navbar-nav">
    <li class="nav-item mt-1">
      <a
        routerLink="/webhooks/webhooks-page/welcome"
        class="nav-link"
        [class.portionColor]="topicIsNotSelected()"
        routerLinkActive="active"
        (click)="clearSelection()"
      >
        Welcome
      </a>
    </li>
  </ul>
  <div class="accordion" id="faq">
    <div *ngFor="let webhookGroup of filteredWebhook$.asObservable() | async" class="card custom-accordion">
      <div class="card-header" id="faqhead{{webhookGroup.id}}">
        <a
          id="group_a_{{webhookGroup.id}}"
          [attr.aria-controls]="'faq' + webhookGroup.id"
          [attr.data-target]="'#faq' + webhookGroup.id"
          aria-expanded="true"
          class="btn btn-header-link"
          data-toggle="collapse"
          href="#">
          <span [innerHTML]="highlightedName(webhookGroup.title)"></span>
        </a>
      </div>
      <div [class.show]="searchMode | async" [ngClass]="'collapse'" data-parent="#faq" id="faq{{webhookGroup.id}}">
        <ul class="navbar-nav">
          <li *ngFor="let webhook of webhookGroup.webhooks" class="nav-item">
            <a (click)="selectWebhook(webhookGroup, webhook)"
               [id]="webhookId(webhook)"
               *ngIf="matches(webhook)"
               routerLink="/webhooks/webhooks-page/webhook/webhook-detail"
               class="nav-link"
               href="javascript:void(0)"
               routerLinkActive="active">
              <span [innerHTML]="highlightedName(webhook.topic.name)"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
