<div id="sidebar-nav">
  <div class="accordion" id="faq">
    <div *ngFor="let webhookGroup of _webhooks$.asObservable() | async;let i=index" class="card custom-accordion">
      <div class="card-header" id="faqhead{{i}}">
        <a (click)="show(webhookGroup)" [attr.aria-controls]="'faq' + i" [attr.data-target]="'#faq' + i" [class.active]="webhookGroup.isShowing"
           aria-expanded="true" class="btn btn-header-link"
           data-toggle="collapse" href="#">{{webhookGroup.title}}</a>
      </div>

      <div [ngClass]="(i == 0)?'show':'collapse'" data-parent="#faq" id="faq{{i}}">
        <ul class="navbar-nav">
          <li *ngFor="let topic of webhookGroup.topics" class="nav-item">
            <a (click)="selectTopic(webhookGroup, topic)" [class.portionColor]="topic==selectedTopic" class="nav-link"
               href="javascript:void(0)"
               routerLinkActive="active">
              {{topic.name}}
              <!-- <li class="nav-item" *ngFor="let sub of list.subList" >
         <a class="nav-link" routerLink="{{sub.link}}" [ngClass]="(sub==variable.selectedWebhook)?'portionColor':''" routerLinkActive="active" (click)="selectedWeb(sub)">
             {{sub.title}}
             <span class="badge badge-primary" *ngIf="sub.isNew==1">
                 New
             </span>
             <span class="badge badge-warning" *ngIf="sub.isPublished==0">
                 Unpublished
             </span> -->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
